{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="row-fluid" style="margin-bottom: 10px">
        <a href="/zoning/pincode/add" style="margin-left: 75%">
            <button type="button" class="btn btn-info btn-small">Add Pincode</button>
        </a>
        <a href="/zoning/download_pincode_dump">
            <button type="button" class="btn btn-purple btn-small pull-right">Download Pincode Dump</button>
        </a>
    </div>

    <div class="row-fluid">
        <div class="span12 table-responsive">
            {% render_table table %}
        </div>
    </div>
{% endblock %}