{% extends "base.html" %}
{% block content %}
    <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ field.label }}</label>

                <div class="col-sm-10">
                    {{ field }}
                </div>
                {{ field.errors }}
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Upload</button>
            </div>
        </div>
    </form>

{% endblock %}