{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <a href="/internal/branch/add">
        <button type="button" class="btn btn-purple btn-small pull-right">Add Branch</button>
    </a>
    {% render_table table %}
{% endblock %}