body {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    position: inherit;
    width: 1002px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    page-break-after: always;
    min-height: 1336px;
    margin-bottom: 30px;
}

.inner_wrapper {
    width: 1002px;
    padding-top: 10px;
    float: left;
}

header {
    display: block;
    float: left;
}

div {
    display: block;
    float: left;
}

.address {
    font-size: 14px;
    margin-left: -130px;
}

.logo img {
    width: 147px;
    float: left;
}

.heading {
    float: left;
    margin: 60px 80px;
}

h1 {
    padding: 10px
}

.header1 {
    width: 1000px;
    margin-top: -90px;
    font-size: 14px;
}

.date_client {
    width: 240px;
    padding: 10px;
}

.left {
    float: left;
    width: 200px;
    padding-top: 2px;
    padding-left: 0;
}

.branch {
    margin: 15px 50px;
    width: 110px;
}

.branch strong {
    padding: 5px;
}

.center {
    text-align: center;
    padding: 2px;
}

.text_wrap {
    text-wrap: normal;
    padding: 10px;
}

table {
    font-size: 18px;
    display: block;
    float: left;
    width: 1006px;
    border-spacing: 0;
    border-collapse: collapse;
}

.border {
    border: 2px solid black;
}

.fixed_height {
    height: 150px;
}

.border_bottom {
    border-bottom: 2px solid #000000;
}

.details {
    font-size: 18px;
    width: 100%;
    display: block;
    float: left;
    border: 2px solid #000000;
    margin-top: -2px;
    height: 200px;

}

.block1 {
    width: 132px;
    float: left;
    padding: 5px;
    height: 100%;
}

.block2 {
    width: 840px;
    padding: 5px;
    height: 200px;
}

.block1 div:first-child {
    height: 30px;
    margin: 12px 12px;
}

.block1 div:nth-child(2) {
    margin: 21px 12px;
}

.block1 div:nth-child(3) {
    margin: -10px 12px;
}

.block1 div:nth-child(4) {
    margin: 15px 12px;
}

.block1 div:last-child {
    margin: -8px 12px;
    width: 200px;
}

.full_width {
    width: 100%;
    height: 30px;
}

@page {
    size: A4;
    margin: 0;
}