@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/static/font/opensans300.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/static/font/opensans400.woff) format('woff');
}

input[type="checkbox"] {
    visibility: visible;
    height: 20px;
    width: 20px;
    display: inline-block;
}

.admin-select {
    margin-top: 9px
}

.admin-select select {
    height: 26px;
    border-radius: 2px;
    padding: 0;
}

#select_branch select {
    width: 90%;
}

#select_city select {
    width: 98%;
    border-radius: 2px;
}

.admin-select select option:first-child {
    display: none;
}

#awb_report_cc_form select[name='client'] {
    width: 100px;
}

#awb_report_cc_form select[name='status'] {
    width: 120px;
}

#awb_report_cc_form #awb {
    width: 80px;
}

#awb_report_cc_form #priority {
    width: 70px;
}

.collapse_table {
    text-decoration: none;
    cursor: pointer;
}

#mask {
    position: absolute;
    z-index: 1000;
    opacity: .6;
    background: black;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#reasonPopUp {
    background: #ffffff;
    position: absolute;
    z-index: 10000;
    display: none;
    margin-left: 15%;
    top: 150px;
}

#lightbox {
    position: absolute;
    z-index: 10000;
    display: none;
    margin-left: auto;
    top: 100px;
    /*transform: rotate(90deg);*/
    /*-ms-transform: rotate(90deg); *//* IE 9 */
    /*-webkit-transform: rotate(90deg); *//* Opera, Chrome, and Safari */
}

#lightbox img {
    width: 500px;
}

.table-alert th, .table-alert td {
    color: red;
}

.table-success th, .table-success td {
    color: green;
}

