body {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 1000px;
    display: block;
}

#table2 th {
    border: 2px solid black
}

#table2 td {
    border: 2px solid black
}

#table2 div {
    display: block;
    float: left;
    width: 200px;
    height: 30px;
    border: 2px solid black
}

header {
    display: block;
    height: 100px;
    float: left;
}

header div {
    display: block;
    float: left;
    height: 100px;
}

.logo img {
    width: 147px;
    float: left;
}

.heading {
    margin: 0px 170px;
    float: left;
}

table tr, td, th {
    padding: 5px;
}

#table0 {
    padding: 0px !important;
}

table {
    display: block;
    float: left;
    width: 1000px;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    page-break-after: always;
}

#table0 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#table1 {
    margin-bottom: 15px;
}

#table1 td, #table1 th {
    border: 2px solid black;
}

#table3 td, #table3 th {
    border: 2px solid black;
    border-top: none !important;
}

