body {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


#wrapper {
    width: 1000px;
    display: block;
}

header {
    display: block;
    float: left;
}

.heading {
    margin: 0px 170px;
    float: left;
}


table {
    margin-top:5px;
    display: block;
    float: left;
    width: 1000px;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
    page-break-after: always;
}


table td, th {
    border: 2px solid black;
}

table thead tr th {
    padding:5px;
}

table tbody td:nth-child(3){
    padding:15px;
    font-size:18px;
}

table tbody td:last-child{
    padding-left:5px
}