{% load render_table from django_tables2 %}
{% if calling_awb %}
    {#        <h4 class="blue collapse_table">Reverse Logistics#}
    {#            <small><i class="icon-double-angle-right"></i></small>#}
    {#        </h4>#}

    <div>
        <div>
            {% render_table calling_awb %}
        </div>
    </div>
{% endif %}