{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
        <div class="page-header position-relative" id="manifest_header">
        <h1> Calling Dashboard
{#            <small><i class="icon-double-angle-right"></i> {{ type|title }}</small>#}
        </h1>
    </div>
    <div class="middle">
        <h2 style="color: purple">Enter Phone No</h2>
{#        <input type="select" value="" id="agent_no">#}
        <select name="agent_no" id="agent_no">
            {% for p in phone %}
                <option value="" style="display: none" selected></option>
                <option value={{ p.phone_no }}>{{ p.assigned_to }}</option>
    <!--{#            <option value="01244371190">01244371190</option>#}-->
    <!--{#            <option value="01244371189">01244371189</option>#}-->
    <!--{#            <option value="01242383126">01242383126</option>#}-->
    <!--{#            <option value="01242580126">01242580126</option>#}-->
    <!--{#            <option value="01242583126">01242583126</option>#}-->
    <!--{#            <option value="01242381126">01242381126</option>#}-->
            {% endfor %}
        </select>
        <input type="submit" value="Submit" style="color: green" id="ph_submit">{% csrf_token %}
    </div>
    {% if calling_awb %}
        {#        <h4 class="blue collapse_table">Reverse Logistics#}
        {#            <small><i class="icon-double-angle-right"></i></small>#}
        {#        </h4>#}

        <div class="row-fluid">
            <div class="span12 table-responsive" id="call_table">
                {% render_table calling_awb %}
            </div>
        </div>
    {% endif %}
{% endblock %}