{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1>Incoming Call
            <small><i class="icon-double-angle-right"></i> Notifications</small>
        </h1>
    </div>

    <div class="table-responsive" id="call_notifications">
        <h4 class="red">No Current Calls</h4>
    </div>
{% endblock %}
{% block extra_scripts %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var ws4redis = WS4Redis({
                uri: 'ws://54.169.158.167:3000/ws/cs?subscribe-broadcast',
                receive_message: receiveMessage,
                heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
            });
            // attach this function to an evenhandler on your site
            // receive a message though the websocket from the server
            function receiveMessage(e) {
                var json = JSON.parse(e);
                console.log('Websocket: ' + json.call_sid + ' ' + json.status);
                update_incoming_calls(json);
            }
        });
    </script>
{% endblock %}