{% extends 'base.html' %}
{% block content %}

<div class="row-fluid">
        <div class="span12 table-responsive" id="awb_table_cc">
{#            {% if awbs %}#}
{#                <table class="table table-bordered table-condensed table-stripped">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>S.No.</th>#}
{#                        <th>AWB</th>#}
{#                        <th>Client</th>#}
{#                        <th>Branch</th>#}
{#                        <th>Delivery Branch</th>#}
{#                        <th>Collected Amount</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for awb in awbs %}#}
{#                        <tr id="{{ awb.pk }}">#}
{#                            <td>{{ forloop.counter }}#}
{#                            <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>#}
{#                            <td>{{ awb.get_client.client_name }}</td>#}
{#                            <td>{{ awb.get_delivery_branch.branch_name }}</td>#}
{#                            <td>{{ awb.expected_amount }}</td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
{#            {% else %}#}
{#                <h4 class="blue">No AWB found</h4>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

    {% if awb %}
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
        <tr style="color: #0000ff">
{#            <th>S.No.</th>#}
            <th>AWB</th>
            <th>Order Id</th>
            <th>Call Made</th>
            <th>Connected</th>
            <th>Call Count</th>
            <th>Update Status</th>
            <th>Remarks</th>
            <th>Reason</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% if awb %}
            <tr id="{{ awb.pk }}">
{#                <td>{{ forloop.counter }}#}
                <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                <td>{{ awb.order_id }}</td>

                <td class="center">
                    <label>
                        {% if awb.awb_status.call == True %}
                            <input type="checkbox" name="call" id="call" checked>
                            <span class="lbl"></span>
                        {% else %}
                            <input type="checkbox" name="call" id="call">
                            <span class="lbl"></span>
                        {% endif %}
                    </label>
                </td>
                <td class="center">
                    <label>
                        {% if awb.awb_status.connected_call == True %}
                            <input type="checkbox" name="connected_call" id="connected_call" checked>
                            <span class="lbl"></span>
                        {% else %}
                            <input type="checkbox" name="connected_call" id="connected_call">
                            <span class="lbl"></span>
                        {% endif %}
                    </label>
                </td>
                <td>
                    {{ awb.get_call_count }}
                </td>
                <td>
                    <select name="status" id="status">
                        <option value="{{ awb.awb_status.status }}"
                                style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                        <option value="SCH">Scheduled</option>
                        <option value="CAN">Cancelled</option>
                        {#                        <option value="DBC">Deferred by Customer</option>#}
                        {#                        <option value="CNA">Customer not Available</option>#}
                        {#                        {% if awb.category != 'REV' %}#}
                        {#                            <option value="RET">Returned</option>#}
                        {#                        {% endif %}#}
                    </select>
                </td>
                <td>
                    <select name="remark" id="remark">
                        <option value="{{ awb.awb_status.remark }}" style="display: none"
                                selected>{{ awb.awb_status.remark }}</option>
                        {% if awb.category == 'REV' %}
                            {% for k,v in awb_rl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% else %}
                            {% for k,v in awb_fl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td id="reason_td_{{ awb.pk }}">
                    <input type="text" name="reason" id="reason_{{ awb.pk }}" value="{{ awb.awb_status.reason }}">
                </td>
                <td>
                    <button class="btn btn-info btn-small" type="button" onclick="updateByCC(this)">
                        Save
                    </button>
                </td>

            </tr>
        {% endif %}
        </tbody>
    </table>
{% else %}
    <h4 class="blue">No AWB found</h4>
{% endif %}
</div>
</div>
<div style="display: none" id="reason_hidden">
    <input type="text" name="reason">
    <select id="reason_{{ awb.pk }}">
        <option value="{{ awb.awb_status.reason }}" style="display: none"
                selected>{{ awb.awb_status.reason }}</option>
        {% if awb.category == 'REV' %}
            {% for k,v in awb_rl_reason %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        {% else %}
            {% for k,v in awb_fl_reason %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        {% endif %}

    </select>
</div>

<div style="display: none" id="reason_hidden_cancel">
    <input type="text" name="reason">
    <select id="reason_{{ awb.pk }}">
        <option value="{{ awb.awb_status.reason }}" style="display: none"
                selected>{{ awb.awb_status.reason }}</option>
        <option value="Customer does not want to return">Customer does not want to return</option>
        <option value="Pickup already done by self/other courier">Pickup already done by self/other courier</option>
    </select>
</div>
<div>
<a href="/transit/awb/admin_update/{{ awb_details.pk }}" target="_blank"><button class="btn btn-pink pull-right">Edit AWB</button></a>
</div>
<div class="row-fluid">
    <div class="span12">
        <h4 class="blue">AWB Details</h4>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-condensed table-stripped">
                    <tbody>
                    <tr>
                        <th style="color: #000000">AWB</th>
                        <td>{{ awb_details.awb }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Order Id</th>
                        <td>{{ awb_details.order_id }}</td>
                    </tr>
                    {% if awb_details.invoice_no %}
                        <tr>
                            <th style="color: #000000">Invoice No</th>
                            <td>{{ awb_details.invoice_no }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th style="color: #000000">Client</th>
                        <td>{{ awb_details.awb_status.manifest.client.client_name }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Customer Name</th>
                        <td>{{ awb_details.customer_name|title }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Address</th>
                        <td>{{ awb_details.address_1|title }}, {{ awb_details.address_2|title }}, {{ awb_details.city|title }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Pincode</th>
                        <td>{{ awb_details.pincode }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Contact</th>
                        <td>{{ awb_details.phone_1 }} , {{ awb_details.phone_2 }}</td>
                    </tr>
                    <tr>
                        <th style="color: #000000">Description</th>
                        <td>{{ awb_details.description|title }}</td>
                    </tr>
                    {% if awb_details.reason_for_return %}
                        <tr>
                            <th style="color: #000000">Reason for Return</th>
                            <td>{{ awb_details.reason_for_return|title }}</td>
                        </tr>
                    {% endif %}
                    {% if awb_details.get_expected_delivery_date %}
                        <tr>
                            <th style="color: #000000">Expected Delivery Date</th>
                            <td>By {{ awb_details.get_expected_delivery_date }}
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

        <h4 class="blue">AWB History</h4>

        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>

                        <th style="color: #000000">History</th>
                        <th style="color: #000000">Time</th>
                        <th style="color: #000000">Updated By</th>
{#                            {% if user.is_superuser or user.profile.role == 'OM' %}#}
{#                                <th style="color: #000000">Action</th>#}
{#                            {% endif %}#}
                    </tr>
                    </thead>
                    <tbody>
                        {% for k,v in awb_hist.items %}
                            {% if v.status != '' %}
                                <tr id="{{ v.pk }}" class="{{ v.class }}">

                                    <td>{{ v.status }}</td>
                                    <th style="color: #000000">{{ v.time }}</th>
                                    <td>
                                        {% if v.updated_by %}
                                            {{ v.updated_by|title }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}