{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> Calling Out Report
{#            <small><i class="icon-double-angle-right"></i> {{ type|title }}</small>#}
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="call_out_report_form" action="">
                    {% csrf_token %}
                    <label class="center">Start Date</label>

                    <div id="start_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                    </div>
                    <label class="center">End Date</label>

                    <div id="end_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                    </div>
                    <label class="center">Client</label>
                    <select name="client" id="client">
                        <option selected style="display: none"></option>
                        {% for client in clients %}
                            <option value="{{ client.client_code }}">{{ client.client_name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-info btn-small" type="submit" name="action" value="Export">
                </form>
            </div>
        </div>
    </div>
{% endblock %}