{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
{#{% if call_history %}#}
    <div class="page-header position-relative">
        <h1>Call Out History</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            {% render_table call_history %}
        </div>
    </div>
{#{% endif %}#}
{% endblock %}
