{% for call in incoming_calls %}
    <div class="row-fluid" style="padding-bottom: 20px;display: none" id="call_details">
        <table class="table table-bordered table-condensed table-stripped" id="{{ call.call_sid }}">
            <thead>
            <tr>
                <th>Call From</th>
                <th>Call To</th>
                <th>Registered No. / AWB</th>
                <th>Customer Name</th>
                <th>Attendant</th>
                <th>Calling Time</th>
                <th>Call Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ call.call_from }}</td>
                <td>{{ call.call_to }}</td>
                {% if call.customer_phone %}
                    <td>{{ call.customer_phone }}</td>
                {% else %}
                    <td><input type="text" name="customer_phone" class="input-small customer_registered_no"></td>
                {% endif %}
                <td id="customer_name">
                    {% if call.customer_name != 'None' %}{{ call.customer_name|title }}{% endif %}</td>
                <td>{{ call.agent }}</td>
                <td>{{ call.call_start_time }}</td>

                {% if call.call_status == 'ringing' %}
                    <td class="hidden-480" id="call_status"><span class="label label-important">Ringing</span></td>
                {% elif call.call_status == 'completed' %}
                    <td class="hidden-480" id="call_status"><span class="label label-success">Completed</span></td>
                {% else %}
                    <td class="hidden-480" id="call_status">
                        <span class="label label-info">{{ call.call_status|title }}</span>
                    </td>
                {% endif %}

                <td>
                    <button class="btn btn-mini btn-purple" id="close_incoming_call">Close</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="table-responsive" id="customer_awbs" style="margin-top: -10px;">
            {% if call.customer_awbs.all %}
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>AWB</th>
                        <th>Status</th>
                        <th>Remark</th>
                        <th>Last Updated</th>
                        <th>Upload Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in call.customer_awbs.all %}
                        <tr>
                            <td><a href="/transit/awb/{{ awb.awb.pk }}" target="_blank">{{ awb.awb.awb }}</a></td>
                            <td>{{ awb.awb.get_readable_status }}</td>
                            <td>{{ awb.awb.awb_status.remark }}</td>
                            <td>{{ awb.awb.get_status_last_updated }}</td>
                            <td>{{ awb.awb.get_creation_date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <hr style="color: #000000">
    </div>
{% endfor %}