<table class="table table-bordered table-condensed table-stripped">
    <thead>
    <tr>
        <th>AWB</th>
        <th>Status</th>
        <th>Remark</th>
        <th>Last Updated</th>
        <th>Upload Date</th>
    </tr>
    </thead>
    <tbody>
    {% for awb in customer_awbs %}
        <tr>
            <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
            <td>{{ awb.get_readable_status }}</td>
            <td>{{ awb.awb_status.remark }}</td>
            <td>{{ awb.get_status_last_updated }}</td>
            <td>{{ awb.get_creation_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<input type="hidden" value="{{ customer_name }}">
