{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4 class="blue">AWB Details</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <tbody>
                        <tr>
                            <th>AWB</th>
                            <td>{{ awb_details.awb }}</td>
                        </tr>
                        <tr>
                            <th>Order Id</th>
                            <td>{{ awb_details.order_id }}</td>
                        </tr>
                        {% if awb_details.invoice_no %}
                            <tr>
                                <th>Invoice No</th>
                                <td>{{ awb_details.invoice_no }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Customer Name</th>
                            <td>{{ awb_details.customer_name|title }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ awb_details.address_1|title }}, {{ awb_details.address_2|title }}, {{ awb_details.city|title }}</td>
                        </tr>
                        <tr>
                            <th>Pincode</th>
                            <td>{{ awb_details.pincode }}</td>
                        </tr>
                        <tr>
                            <th>Contact</th>
                            <td>{{ awb_details.phone_1 }} , {{ awb_details.phone_2 }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ awb_details.get_readable_choice }}</td>
                        </tr>
                        {% if awb_details.category == 'COD' %}
                            <tr>
                                <th>COD Amount</th>
                                <td>Rs. {{ awb_details.expected_amount }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Description</th>
                            <td>{{ awb_details.description|title }}</td>
                        </tr>
                        {% if awb_details.get_awb_dto_pod %}
                        <tr>
                            <th>POD</th>
                            <td><img src="/media/>{{ awb_details.get_awb_dto_pod }}" /></td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 class="blue">AWB History</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <thead>
                        <tr>

                            <th>History</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in awb_hist.items %}
                            {% if v.status != '' %}
                                <tr id="{{ v.pk }}" class="{{ v.class }}">

                                    <td>{{ v.status }}</td>
                                    <th>{{ v.time }}</th>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}