{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        <h1> {{ model|title }} </h1>
        <a href="/client/add">
            <button type="button" class="btn btn-info pull-right">Add New</button>
        </a>
    </div><!--/.page-header-->

    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            {% render_table table %}
        </div>
    </div>
{% endblock %}