{#{% extends "base.html" %}#}
{% load tags %}
{#{% block content %}#}
<style>
    td,th{
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
        font-size: 11px;
    }
    h2{
        font-family: "Century Gothic", "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", Futura, sans-serif;
        font-size: 23px;
    }

</style>

<h2>{{ client.client_name|upper }} CALLING DASHBOARD
    SUMMARY ({{ start_date|format_data }} - {{ end_date|format_data }})</h2>
<table style="border-collapse: collapse" border="3px solid #000000">
        <tr>
            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
            {% for h in report1.header %}
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>
            {% endfor %}
        </tr>
    {% for key, values in report1.items %}

        {% for k,v in values.items %}
            {% if k == 'total' %}
                <tr>
                    <td>&nbsp;</td>
                    <th style="border: 2px solid #000000;">{{ k|title }}</th>
                    {% for i in v %}
                        <th style="border: 2px solid #000000;">{{ i|format_data }}</th>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td style="border: 2px solid #000000;text-align: center">{{ forloop.counter }}</td>
                    {% for i in v %}
                        <td style="border: 2px solid #000000;text-align: center">{{ i|format_data }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<h2>{{ client.client_name|upper }} CANCELLED CONNECTED CALLS
    REPORT ({{ start_date|format_data }} - {{ end_date|format_data }})</h2>

<table style="border-collapse: collapse" border="3px solid #000000">
    <tr>
            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
            {% for h in report2.header %}
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>
            {% endfor %}
        </tr>
    {% for key, values in report2.items %}

        {% for k,v in values.items %}
            {% if k == 'total' %}
                <tr>
                    <td>&nbsp;</td>
                    <th style="border: 2px solid #000000;">{{ k|title }}</th>
                    {% for i in v %}
                        <th style="border: 2px solid #000000;">{{ i|format_data }}</th>
                    {% endfor %}
                </tr>
{#                <tr>#}
{#                    <td>&nbsp;</td>#}
{#                    {% for j in v %}#}
{#                        <td>&nbsp;</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
            {% else %}
                <tr>
                    <td style="border: 2px solid #000000;text-align: center">{{ forloop.counter }}</td>
                    {% for i in v %}
                        <td style="border: 2px solid #000000;text-align: center">{{ i|format_data }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>

<h2>{{ client.client_name|upper }} PENDING & DEFER CALLS
    REPORT ({{ start_date|format_data }} - {{ end_date|format_data }})</h2>

<table style="border-collapse: collapse" border="3px solid #000000">
    <tr>
            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
            {% for h in report3.header %}
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>
            {% endfor %}
    </tr>
    {% for key, values in report3.items %}
        {% for k,v in values.items %}
            {% if k == 'total' %}
                <tr>
                    <td>&nbsp;</td>
                    <th style="border: 2px solid #000000;">{{ k|title }}</th>
                    {% for i in v %}
                        <th style="border: 2px solid #000000;">{{ i|format_data }}</th>
                    {% endfor %}
                </tr>
{#                <tr>#}
{#                    <td>&nbsp;</td>#}
{#                    {% for j in v %}#}
{#                        <td>&nbsp;</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
            {% else %}
                <tr>
                    <td style="border: 2px solid #000000;text-align: center">{{ forloop.counter }}</td>
                    {% for i in v %}
                        <td style="border: 2px solid #000000;text-align: center">{{ i|format_data }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
{#{% endblock %}#}