{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        <h1> {{ user.profile.client.client_name|title }}
            <small><i class="icon-double-angle-right"></i> Dashboard</small>
            {#            <button type="button" class="btn btn-info pull-right" onclick="email_client_dashboard()">Export</button>#}

            <a href="/client/export/dashboard">
                <button type="button" class="btn btn-info pull-right">Export</button>
            </a>
        </h1>
    </div><!--/.page-header-->
    <div id="get_message"></div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <!--PAGE CONTENT BEGINS-->
            {% render_table table %}
        </div>
    </div>
{% endblock %}