{% load tags %}
<div style="width: 100%;float: left;margin-bottom: 0;"><h2>{{ client.client_name|upper }} OUT FOR PICKUP
    REPORT ({{ start_date|format_data }}) Till 11:30</h2></div>
<table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
    {#    <thead>#}
    {#    <tr>#}
    {#        <th style="border: 2px solid #000000;">S.No.</th>#}
    {#        {% for h in report.header %}#}
    {#            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 80px;">{{ h }}</th>#}
    {#        {% endfor %}#}
    {#    </tr>#}
    {#    </thead>#}
        <tr>
{#            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>#}
            {% for h in report.header %}
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>
            {% endfor %}
        </tr>

    {% for key, values in report.items %}
{#        <tr>#}
{#            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>#}
{#            {% for h in report.header %}#}
{#                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
        {% for k,v in values.items %}
            {% if k == 'total' %}
                <tr>
                    <th style="border: 2px solid #000000;">{{ k|title }}</th>
                    {% for i in v %}
                        <th style="border: 2px solid #000000;">{{ i|format_data }}</th>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td style="border: 4px solid #000000;text-align: center">{{ k | title }}</td>
                    {% for i in v %}
                        {% if i == '' %}
                            <td style="border: 4px solid #000000;text-align: center">0.00</td>
                        {% else %}
                            <td style="border: 4px solid #000000;text-align: center">{{ i|format_data }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>