{% load tags %}
<div style="width: 100%;float: left;margin-bottom: 0;"><h2>{{ client.client_name|upper }} PERFORMANCE
    REPORT ({{ start_date|format_data }} - {{ end_date|format_data }})</h2></div>
<table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
    {#    <thead>#}
    {#    <tr>#}
    {#        <th style="border: 2px solid #000000;">S.No.</th>#}
    {#        {% for h in report.header %}#}
    {#            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 80px;">{{ h }}</th>#}
    {#        {% endfor %}#}
    {#    </tr>#}
    {#    </thead>#}

    {% for key, values in report.report.items %}
        <tr>
            <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
            {% for h in report.header %}
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px;min-width: 100px;">{{ h }}</th>
            {% endfor %}
        </tr>
        {% for k,v in values.items %}
            {% if k == 'total' %}
                <tr>
                    <th style="border: 2px solid #000000;">{{ k|title }}</th>
                    {% for i in v %}
                        <th style="border: 2px solid #000000;">{{ i|format_data }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    {% for j in v %}
                        <td>&nbsp;</td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr>
                    <td style="border: 2px solid #000000;text-align: center">{{ forloop.counter }}</td>
                    {% for i in v %}
                        <td style="border: 2px solid #000000;text-align: center">{{ i|format_data }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>