{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <div class="widget-main">
            <form class="form-inline" role="form" method="post">
                {% csrf_token %}
                <label class="center">Status</label>
                <input type="text" name="q" class="input-large" placeholder="Search AWB...">
                <input type="submit" class="btn btn-info btn-medium" value="Export">
            </form>
        </div>
    </div>
{% endblock %}