<div class="row-fluid">
    <div class="span12 table-responsive">
        <table class="table table-striped table-bordered table-hover table-condensed"
               id="{{ model|lower }}_in_scanning_table">
            <thead>
            <tr>
                <th>S.No.</th>
                <th>AWB</th>
                <th>Order Id</th>
                <th>Category</th>
                <th>Status</th>
                <th>Delivery Branch</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td id="s_no"></td>
                <td><input type="text" name="awb" class="input-medium" id="awb_in_scan"></td>
                <td><input type="text" class="input-medium"></td>
                <td><input type="text" disabled class="input-medium"></td>
                <td><input type="text" disabled class="input-medium"></td>
                <td><input type="text" disabled class="input-medium"></td>
                <td class="remove"></td>
            </tr>
            {% if scanned_awbs %}
                {% for awb in scanned_awbs %}
                    <tr id="{{ awb.pk }}">
                        <input type="hidden" value="{{ awb.pk }}">
                        <td id="s_no">{{ forloop.revcounter }}</td>
                        <td id="awb">{{ awb.awb }}</td>
                        <td>{{ awb.order_id }}</td>
                        <td>{{ awb.get_readable_choice }}</td>
                        <td>{{ awb.awb_status.get_readable_choice }}</td>
                        <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
                        <td class="remove">
                            <div class="hidden-phone visible-desktop btn-group">
                                <button onclick="removeRow(this)" class="btn btn-mini btn-danger"><i
                                        class="icon-trash bigger-120"></i></button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
