{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1>
           AWB Update
        </h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post" action="">{% csrf_token %}

              File : <input type="file" name="file" />
                <input type="submit" value="Update">
            </form>
        </div>
    </div>
{% endblock %}


