{% extends "base.html" %}
{% block content %}
    {% if msg %}
        <h6>{{ msg }}</h6>
    {% endif %}
    {% if form %}
       <div class="row-fluid">
           <div class="span12 table-responsive">
               <h2>BIKE LIST UPLOAD</h2>
           </div>
       </div>
       <div class="row-fluid">
           <div class="span12 table-responsive">
               <h4><a href="/media/uploads/sample/sample_bike_upload.xlsx">Download Sample Bike Upload File</a></h4>
           </div>
       </div>
        <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label>

                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}