{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ model|title }} Form
        </h1>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <form class="form-horizontal" role="form" method="post" id="create_{{ model|lower }}_form">{% csrf_token %}
                {% for form in forms %}

                    {% for field in form %}
                        <div class="control-group">
                            <label class="control-label" for="form-field-1">{{ field.label|title }}</label>

                            <div class="controls">
                                {{ field }}
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}
                    {{ form.non_field_errors }}
                {% endfor %}
                <div id="table"></div>
                <div class="form-actions">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Add {{ model|title }}
                    </button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Reset
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


