{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        {% if awb_tbl %}
            {% if user.is_superuser or user.profile.role == 'OM' %}
                <div class="widget-main pull-right">

                    <form class="form-inline" role="form" method="post" id="drs_search_form">{% csrf_token %}
                        <label class="center">Status</label>
                        <select name="status" id="status">
                            <option value="" style="display: none"></option>
                            {% for k,v in status %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        </select>
                        <button type="button" onclick="awb_status_update_admin()" class="btn btn-small btn-info">Update
                        </button>
                        {#                        <a href="/transit/awb/export_mis_searched_awb">#}
                        <button type="button" class="btn btn-small btn-info" onclick="export_mis()">Export MIS
                        </button>
                        {#                        </a>#}
                    </form>
                </div>
            {% endif %}
        {% endif %}
        {% if dto_tbl %}
            <div class="widget-main pull-right">
                {#                <form class="form-inline" role="form" method="post" id="drs_search_form">{% csrf_token %}#}
                <button type="button" class="btn btn-small btn-info" onclick="export_dto()">Export DTO Report
                </button>
                {#                </form>#}
            </div>
        {% endif %}
    </div>
    <div id="get_message"></div>
    <!--/.page-header-->
    {% if awb_tbl %}
        <h4 class="blue">AWBs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table awb_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if tb_tbl %}
        <h4 class="blue">TBs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table tb_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if mts_tbl %}
        <h4 class="blue">MTSs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table mts_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if drs_tbl %}
        <h4 class="blue">DRSs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table drs_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if dto_tbl %}
        <h4 class="blue">DTOs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table dto_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if rto_tbl %}
        <h4 class="blue">RTOs Found</h4>
        <div class="row-fluid">
            <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="span12">
                        {% render_table rto_tbl %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% if not awb_tbl and not tb_tbl and not mts_tbl and not drs_tbl and not dto_tbl and not rto_tbl %}
        <h4 class="blue">No Result Found</h4>
    {% endif %}
{% endblock %}