{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        {% if url %}
            <a href="{{ url }}">
                <button type="button" class="btn btn-purple btn-small pull-right">Create {{ model|upper }}</button>
            </a>
        {% endif %}
        {% if model == 'vendor' %}
            <a href="/client/vendor/download_vendor_dump">
                <button type="button" style="margin-right: 1em" class="btn btn-pink btn-small pull-right">Download Vendor Dump</button>
            </a>
        {% endif %}
        {% if mts %}
            <div class="widget-main pull-right">
                <form class="form-inline" role="form" method="post">{% csrf_token %}
                    <label class="center">External Track ID : </label>
                    <input type="text" name="external_track_id" class="input-medium">
                    <input type="submit" value="Save" class="btn-small btn btn-info">
                </form>
            </div>
        {% elif track_url %}
            <a href="{{ track_url }}" target="_blank">
                <button type="button" class="btn btn-purple btn-small pull-right">Track {{ model|upper }}</button>
            </a>
        {% endif %}
        <h1>{% if id %}{{ id|upper }}{% else %}{{ model|upper }}{% endif %}
            <small><i class="icon-double-angle-right"></i> {{ type|title }}</small>
        </h1>
    </div>

    <!--/.page-header-->
    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            <div class="row-fluid">
                <div class="span12">
                    {% render_table table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}