{% extends "base.html" %}
{% block content %}
    <ul>
        <li><a href="/media/uploads/sample/sample_vendor_master.xlsx">Sample Vendor Master</a></li>
        <li><a href="/media/uploads/sample/sample_bike_upload.xlsx">Sample Bike Upload</a></li>
        <li><a href="/media/uploads/sample/sample_pincode_upload.xlsx">Sample Pincode Upload</a></li>
        <li><a href="/media/uploads/sample/sample_user_upload.xlsx">Sample FE Upload</a></li>
    </ul>

    {% if msg %}
        <h6>{{ msg }}</h6>
    {% endif %}
    {% if form %}
        <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ field.label }}</label>

                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                    {{ field.errors }}
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Upload</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}