{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/static/project_js/advanced_search.js"></script>
{% endblock %}
{% block content %}
    <div class="form-inline" style="float: right;vertical-align: middle;width: 220px;height: 50px">
        {#    <div style="height: 45px;width: 60px;float: left">#}
        {#  <label class="radio-type" onclick="$('label.radio-type').css('color', 'black');$(this).css('color','red');" for="branch">Branch</label>#}
        {#  <input type="checkbox" name="type" id="branch" value="branch" form="search_awb"><br>#}
        {#        </div>#}
        <label>
            <input type="radio" name="type" id="tb" value="tb" form="search_awb">
            <span class="lbl"> TB</span>
        </label>
        <label>
            <input type="radio" name="type" id="mts" value="mts" form="search_awb">
            <span class="lbl"> MTS</span>
        </label>
        <label>
            <input type="radio" name="type" id="drs" value="drs" form="search_awb">
            <span class="lbl"> DRS</span>
        </label>
        {#        <label>#}
        {#            <input type="radio" name="type" id="tb" value="tb" form="search_awb">#}
        {#            <span class="lbl"> TB</span>#}
        {#        </label>#}
        {#        <div style="height: 45px;width: 50px;float: left">#}
        {#            <label class="radio-type" onclick="$('label.radio-type').css('color', 'black');$(this).css('color','red');"#}
        {#                   for="tb">TB</label>#}
        {#            <input type="radio" name="type" id="tb" value="tb" form="search_awb"><br>#}
        {#        </div>#}
        {#        <div style="height: 45px;width: 50px;float: left">#}
        {#            <label class="radio-type" onclick="$('label.radio-type').css('color', 'black');$(this).css('color','red');"#}
        {#                   for="drs">DRS</label>#}
        {#            <input type="radio" name="type" id="drs" value="drs" form="search_awb"><br><br>#}
        {#        </div>#}
        {#        <div style="height: 45px;width: 50px;float: left">#}
        {#            <label class="radio-type" onclick="$('label.radio-type').css('color', 'black');$(this).css('color','red');"#}
        {#                   for="mts">MTS</label>#}
        {#            <input type="radio" name="type" id="mts" value="mts" form="search_awb"><br><br>#}
        {#        </div>#}
    </div>
    <div class="error-container" style="float: left">
        <div class="well">
            <h1 class="grey lighter smaller">
                                        <span class="blue bigger-125">
                                            <i class="icon-sitemap"></i>
                                            Welcome
                                        </span>
                NuvoEx Logistics Systems
            </h1>
        </div>


    </div>
{% endblock %}