{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> Advance Report
            <small><i class="icon-double-angle-right"></i> Filters</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div id="get_message">
                <div class="alert alert-block" id="msgDiv">
                </div>
            </div>
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="advance_report_form">{% csrf_token %}
                    <label class="center">Client</label>

                    <div class="tags" id="autosuggest_box">
                        <input type="hidden" placeholder="Enter Clients..." value="" id="hidden" name="clients">
                        <input type="text" placeholder="Enter Clients..." id="clients"
                               onkeydown="autosuggest(this,'client','Client','client_name')">
                    </div>
                    <label class="center">City</label>

                    <div class="tags" id="autosuggest_box">
                        <input type="hidden" placeholder="Enter Cities..." value="" id="hidden" name="cities">
                        <input type="text" placeholder="Enter Cities..." id="cities"
                               onkeydown="autosuggest(this,'zoning','City','city')">
                    </div>
                    <label class="center">Branch</label>

                    <div class="tags" id="autosuggest_box">
                        <input type="hidden" placeholder="Enter Branchs..." value="" id="hidden" name="branchs">
                        <input type="text" placeholder="Enter Branchs..." id="branchs"
                               onkeydown="autosuggest(this,'internal','Branch','branch_name')">
                    </div>
                    <label class="center">Status</label>
                    <select name="status" id="status">
                        <option value="" style="display: none"></option>
                        {% for k,v in status %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <select name="date_type" id="date_type" style="width: 150px;">
                        <option value="upload_date" selected>Upload Date</option>
                        <option value="picked_date">Pickup Date</option>
                        <option value="in_transit_date">In-Transit Date</option>
                        <option value="dto_created_date">DTO Created Date</option>
                        <option value="dtod_date">DTO'd Date</option>
                    </select>
                    <label class="center">Start</label>

                    <div id="start_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                    </div>
                    <label class="center">End</label>

                    <div id="end_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                    </div>
                    <input type="submit" value="Download" class="btn btn-info btn-medium">
                </form>
            </div>
        </div>
    </div>
    {% block extra_scripts %}
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var ws4redis = WS4Redis({
                    uri: 'ws://54.169.158.167:3000/ws/mis?subscribe-broadcast',
                    receive_message: receiveMessage,
                    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
                });
                // attach this function to an evenhandler on your site
                // receive a message though the websocket from the server
                function receiveMessage(e) {
                    var json = JSON.parse(e);
                    //console.log('Websocket: ' + json.message);
                    pop_message(json.message, json.type);
                }
            });
        </script>
    {% endblock %}
{% endblock %}