{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>
    <link rel="stylesheet" href="{% static "css/nuvoex.min.css" %}"/>
    <!--basic styles-->
    {#    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>#}
    {#    <link rel="stylesheet" href="{% static "css/bootstrap-responsive.min.css" %}"/>#}
    {#    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>#}
    <!--[if IE 7]>
		<link rel="stylesheet" href="{% static "css/font-awesome-ie7.min.css" %}" />
	<![endif]-->
    {#    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300"/>#}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/flick/jquery-ui.css">
    {#    <link rel="stylesheet" href="{% static "css/ace.min.css" %}"/>#}
    {#    <link rel="stylesheet" href="/static/css/ace-responsive.min.css"/>#}
    {#    <link rel="stylesheet" href="/static/css/ace-skins.min.css"/>#}
    <!--[if lte IE 8]>
		<link rel="stylesheet" href="{% static "css/ace-ie.min.css" %}" />
	<![endif]-->
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        {% block breadcrumbs %}
            {% include "breadcrumbs.html" %}
        {% endblock %}
    </div>

    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
</div>
{#<script type="text/javascript" src="{% static "js/jquery-2.0.3.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>#}
<script type="text/javascript" src="{% static "js/logistics.min.js" %}"></script>
<!--[if lte IE 8]>
		<script src="{% static "js/excanvas.min.js" %}"></script>
<![endif]-->
<!--ace scripts-->
{#<script type="text/javascript" src="{% static "js/ace-elements.min.js" %}"></script>#}
{#<script type="text/javascript" src="{% static "js/ace.min.js" %}"></script>#}
<script type="text/javascript" src="{% static "js/nuvoex.js" %}"></script>
<script type="text/javascript" src="{% static "js/ws4redis.js" %}"></script>
{% block extra_scripts %}
{% endblock %}
</body>
</html>
