<ul class="breadcrumb">
    <li style="color: black">
        {% if user.profile.role != 'CL' %}
            Incoming AWBs <i class="icon-double-angle-right"></i>
            {#            MTS : <a href="/transit/awb/incoming?type=mts" id="incoming_mts_awbs_count" target="_blank"></a>#}
            Manifest : <a href="/transit/awb/incoming?type=manifest" target="_blank"
                          id="incoming_manifest_awbs_count"></a>
        {% endif %}
    </li>
</ul>
<!--.breadcrumb-->
<div class="nav-search" id="nav-search">

    <form class="form-search" id="search_awb" method="POST" action="/transit/search/">
        {#<a id="advanced_search" style="float: left" onclick="window.location.pathname='/transit/search/advanced_search'">advanced search</a>#}
			    <span class="input-icon">
					<input type="text" placeholder="Search ..." class="input-small nav-search-input"
                           id="nav-search-input" autocomplete="off" name="q"/>
							<i class="icon-search nav-search-icon"></i>
                            <input type="submit" value="Search" class="btn btn-small">
                </span>
    </form>
</div>