{% extends "base.html" %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <!--PAGE CONTENT BEGINS-->
            <div class="error-container">
                <div class="well">
                    <h1 class="grey lighter smaller">
										<span class="blue bigger-125">
											<i class="icon-sitemap"></i>
											Nuvoex
										</span>
                        Logistics System
                    </h1>

                    <hr>
                    <h3 class="lighter smaller">Dashboard under construction</h3>
                </div>
                <!--PAGE CONTENT ENDS-->
            </div>
            <!--/.span-->
        </div>
    </div>
{% endblock %}