{% extends "base.html" %}
{% load tags %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Dashboard
            {#            <small><i class="icon-double-angle-right"></i> {{  }}</small>#}
            <select id="frontDashboardDateFilter" onchange="set_dashboard_date_filter(this)" class="pull-right"
                    style="width: 100px">
                <option value="1">Today</option>
                <option value="3">Last 3 Days</option>
                <option value="6">Last Week</option>
                {#                <option value="14">Last 2 Weeks</option>#}
                {#                <option value="10">Last 10 Days</option>#}
                {#                <option value="30">Last Month</option>#}
            </select>
        </h1>
    </div>
    {% for branch, data in dashboard.items %}
        <h4 class="blue">{{ branch }}</h4>
        <table class="table table-bordered table-condensed table-stripped" style="color: #000000 !important;">
            <thead>
            <tr style="color: #000000 !important;">
                <th>Date</th>
                <th>Alloted AWBs</th>
                <th>Picked Up</th>
                <th>Cancelled</th>
                <th>Deferred</th>
                <th>Connected</th>
                <th>Closed</th>
{#                <th>DTO</th>#}
                <th>Out for Picked Up</th>
{#                <th>Expected COD</th>#}
{#                <th>Collected COD</th>#}
            </tr>
            </thead>
            <tbody>
            {% for key, value in data.items %}
                <tr style="color: #000000 !important;">
                    {% if key == 'total' %}
                        <th>TOTAL</th>
                    {% else %}
                        <th>{{ value.date|format_date:"%d, %b" }}</th>
                    {% endif %}
                    <td>
                        <a href="/transit/awbs?branch={{ branch }}&attr=get_total_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_total_awb.count }}</a>
                    </td>

                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_pickup_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_pickup_awb.count }}</a> - {{ value.get_pickup_awb_perc }} %
                    </td>

                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_cancelled_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_cancelled_awb.count }}</a> - {{ value.get_cancelled_awb_perc }}
                        %
                    </td>

                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_deferred_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_deferred_awb.count }}</a> - {{ value.get_deferred_awb_perc }} %
                    </td>

                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_connected_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_connected_awb.count }}</a> - {{ value.get_connected_awb_perc }}
                        %
                    </td>

                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_closed_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_closed_awb.count }}</a> - {{ value.get_closed_awb_perc }} %
                    </td>

{#                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_dtod_awb&date={{ value.date }}"#}
{#                           target="_blank">{{ value.get_dtod_awb|length }}</a>#}
{#                    </td>#}
                    {#                    <td>{{ value.get_dtod_awb_perc }}</td>#}
                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_out_pickup_awb&date={{ value.date }}"
                           target="_blank">{{ value.get_out_pickup_awb.count }}</a> - {{ value.get_out_pickup_awb_perc }} %
                    </td>

{#                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_all_cod_awbs&date={{ value.date }}"#}
{#                           target="_blank">{{ value.get_expected_amount }}</a></td>#}
{#                    <td><a href="/transit/awbs?branch={{ branch }}&attr=get_del_cod_awbs&date={{ value.date }}"#}
{#                           target="_blank">{{ value.get_collected_amount }}</a></td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}