<div class="navbar">
    <div class="navbar-inner" style="background: green !important;">
        <div class="container-fluid">
            <a href="/" class="brand">
                <small><i class="icon-leaf"></i> NuvoEx Dashboard</small>
            </a>
            {% block userarea %}{% include "userarea.html" %}{% endblock %}
            {% if user.is_superuser or user.profile.branch.branch_name == 'HQ' or not user.profile.branch.branch_name and user.profile.role != 'CL' %}
                <span id="select_branch" class="select2-container pull-right admin-select"></span>
            {% endif %}
            {#            {% if user.is_superuser or user.profile.role == 'CL' or user.profile.role == 'OM' %}#}
            {#                <span id="select_city" class="select2-container pull-right admin-select"></span>#}
            {#            {% endif %}#}
        </div>
    </div>
</div>
