{% extends "base.html" %}
{% block scripts %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="/static/charts/piechart.js"></script>
    <script type="text/javascript" src="/static/project_js/home.js"></script>
{% endblock %}
{% block content %}

    <div class="error-container">
        <div class="well">
            <h1 class="grey lighter smaller">
										<span class="blue bigger-125">
											<i class="icon-sitemap"></i>
											Welcome
										</span>
                NuvoEx Logistics Systems
            </h1>
        </div>
        <div style="height: 400px;width: 400px;float: left" id="manifest_graph">

        </div>
        <div id="drs_graph" style="height: 400px; width: 400px; float: left">

        </div>

    </div>
{% endblock %}
