<ul class="nav ace-nav pull-right">
    <li style="background: #000000 !important;">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="margin:5px 6px">
            <span class="user-info">{{ user.first_name|title }} <i class="icon-caret-down"></i></span>
        </a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
            <li>
                <a href="/admin"> <i class="icon-cog"></i> Admin Panel </a>
            </li>
            {##}
            {#            <li>#}
            {#                <a href="#"> <i class="icon-user"></i> Profile </a>#}
            {#            </li>#}
            {##}
            {#            <li class="divider"></li>#}
            <li>
                <a href="/admin/password_change"> <i class="icon-edit"></i> Change Password </a>
            </li>
            <li>
                <a href="/logout"> <i class="icon-off"></i> Logout </a>
            </li>
        </ul>
    </li>
</ul>