<form class="form-horizontal" role="form" method="post">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ field.label }}</label>

            <div class="col-sm-10">
                {{ field }}
            </div>
            {{ field.errors }}
        </div>
    {% endfor %}
    <div id="awb_table"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Login</button>
        </div>
    </div>
</form>