{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" xmlns="http://www.w3.org/1999/html">
    {% if model == 'dto' %}
        <a href="/transit/dto/get_print_sheet/{{ dto.id }}" target="_blank"
           <button class="btn btn-info btn-small pull-right" style="margin-left:10px" type="button" >
            Print DTO </button></a>
        {% else %}
        <button class="btn btn-info btn-small pull-right" style="margin-left:10px" type="button"
                id="{{ model }}_print_sheet">
            Print {{ model|upper }}
        </button>
        {% endif %}
        {% if model != 'rto' %}
            <button class="btn btn-info btn-small pull-right" type="button"
                    onclick="awb_print_sheet('invoice','print_{{ model|lower }}_awbs_{{ user.pk }}')">
                Print Invoice
            </button>
        {% endif %}
        <h1>
            {% if model == 'drs' %}
                {{ drs.drs_id }}
                <small><i class="icon-double-angle-right"></i> {{ drs.get_readable_choice }}</small>
            {% elif model == 'rto' %}
                {{ rto.rto_id }}
                <small><i class="icon-double-angle-right"></i> {{ rto.get_readable_choice }}</small>
            {% else %}
                {{ dto.dto_id }}
                <small><i class="icon-double-angle-right"></i> {{ dto.get_readable_choice }}</small>
            {% endif %}

        </h1>
    </div>
    <div id="get_message"></div>
    {% if fl.count > 0 %}
        {% if model == 'drs' %}
            <h4 class="blue">Forward Logistics
                <small style="color: #000000" id="drs_total_cash"><i class="icon-double-angle-right"></i>
                    Total Cash: Rs. <strong id="{{ drs.drs_id }}"></strong>
                </small>
                <small style="color: #000000" id="drs_collected_cash"><i class="icon-double-angle-right"></i>
                    Collected Cash: Rs. <strong id="{{ drs.drs_id }}"></strong>
                </small>
            </h4>
        {% endif %}
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-condensed table-stripped" id="awb_status_update_table">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th class="center">
                            <label>
                                <input type="checkbox" checked="true" class="select_all">
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>AWB</th>
                        <th>Order Id</th>
                        {#                        <th>Client</th>#}
                        <th>Category</th>
                        {#                        <th>Delivery Branch</th>#}
                        {% if model == 'drs' %}
                            <th>Expected Amount</th>
                            <th>Update Status</th>
                            <th>Deferred Date</th>
                            <th>Remarks</th>
                            <th>Collected Amount</th>
                            <th>In-Scan</th>
                        {% elif model == 'rto' %}
                            <th>RTO Branch</th>
                            <th>Status</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in fl %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}
                            <td class="center">
                                <label>
                                    <input type="checkbox" checked="true" id="{{ awb.pk }}">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td id="awb"><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                            <td>{{ awb.order_id }}</td>
                            {#                            <td>{{ awb.awb_status.manifest.client }}</td>#}
                            <td id="type">{{ awb.get_readable_choice }}</td>
                            {#                            <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>#}
                            {% if model == 'drs' %}
                                <td id="expected_amount">{{ awb.expected_amount }}</td>
                                <td>
                                    {% if awb.awb_status.status == 'DRS' %}
                                        <select onchange="updateDRSAWBStatus(this)" id="status" class="input-medium">
                                            <option value="{{ awb.awb_status.status }}"
                                                    selected
                                                    style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                                            <option value="DEL">Delivered</option>
                                            <option value="CAN">Cancelled</option>
                                            <option value="DBC">Deferred by Customer</option>
                                            <option value="CNA">NA/Busy/SOFF and Door found locked</option>
                                            <option value="NA">Not Attempted</option>
                                            <option value="DCR" style="display: none">Pending for Delivery</option>
                                        </select>
                                    {% else %}
                                        <select disabled id="status">
                                            <option value="{{ awb.awb_status.status }}"
                                                    selected>{{ awb.awb_status.get_readable_choice }}</option>
                                        </select>
                                    {% endif %}
                                </td>
                                <td><input type="text" style="width: 80px" id="reason_{{ awb.pk }}" name="reason"
                                           onchange="update_awb_reason(this)" disabled>
                                </td>
                                <td>
                                    <select name="remark" id="remark" disabled onchange="update_awb_remark(this)">
                                        <option value="" style="display: none" selected></option>
                                        {% if awb.category == 'REV' %}
                                            {% for k,v in rl_remarks %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for k,v in fl_remarks %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                                <td>
                                    <input style="width: 80px" type="text" id="collected_amount"
                                           name="collected_amount" disabled>
                                </td>
                                <td>
                                    <input type="text" class="input-small" onchange="inScanDRSAWB(this)" id="in_scan"
                                           disabled>
                                </td>
                            {% elif model == 'rto' %}
                                <td>{{ awb.get_rto_branch }}</td>
                                <td>{{ awb.awb_status.get_readable_choice }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if rl.count > 0 %}
        <h4 class="blue">Reverse Logistics</h4>
        <div class="row-fluid">
            <div class="span12">
                <table class="table table-bordered table-condensed table-stripped" id="awb_status_update_table">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th class="center">
                            <label>
                                <input type="checkbox" checked="true" class="select_all">
                                <span class="lbl"></span>
                            </label>
                        </th>
                        <th>AWB</th>
                        <th>Order Id</th>
                        {#                        <th>Client</th>#}
                        <th>Category</th>
                        {#                        <th>Status</th>#}
                        <th>DTO Branch</th>
                        {% if model == 'drs' %}
                            <th>Update Status</th>
                            <th>Deferred Date</th>
                            <th>Remarks</th>
                            <th>In-Scan</th>
                        {% else %}
                            <th>Status</th>
                        {% endif %}
                        {% if model == 'dto' %}
                            <th>Print Barcode</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in rl %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}
                            <td class="center">
                                <label>
                                    <input type="checkbox" checked="true" id="{{ awb.pk }}">
                                    <span class="lbl"></span>
                                </label>
                            </td>
                            <td id="awb"><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                            <td>{{ awb.order_id }}</td>
                            {#                            <td>{{ awb.awb_status.manifest.client }}</td>#}
                            <td id="type">{{ awb.get_readable_choice }}</td>
                            <td>{{ awb.get_delivery_branch.branch_name }}</td>
                            {% if model == 'drs' %}
                                <td>
                                    {% if awb.awb_status.status == 'PP' or awb.awb_status.status == 'DRS' %}
                                        <select onchange="updateDRSAWBStatus(this)" id="status">
                                            <option value="{{ awb.awb_status.status }}"
                                                    selected
                                                    style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                                            <option value="PC">Pick-up Completed</option>
                                            <option value="CAN">Cancelled</option>
                                            <option value="DBC">Deferred by Customer</option>
                                            <option value="CNA">NA/Busy/SOFF and Door found locked</option>
                                            <option value="NA">Not Attempted</option>
                                            <option value="PC" style="display: none">Pick-up Completed</option>
                                        </select>
                                    {% else %}
                                        <select disabled id="status">
                                            <option value="{{ awb.awb_status.status }}"
                                                    selected>{{ awb.awb_status.get_readable_choice }}</option>
                                        </select>

                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if model == 'drs' %}
                                <td><input type="text" style="width: 80px" id="reason_{{ awb.pk }}" name="reason"
                                           onchange="update_awb_reason(this)" disabled></td>
                                <td>
                                    <select name="remark" id="remark" disabled onchange="update_awb_remark(this)">
                                        <option value="" style="display: none" selected></option>
                                        {% if awb.category == 'REV' %}
                                            {% for k,v in rl_remarks %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for k,v in fl_remarks %}
                                                <option value="{{ k }}">{{ v }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </td>
                                {% if awb.awb_status.status == 'PC'  %}
                                    <td><input type="text" class="input-medium" id="in_scan"
                                           onchange="inScanInvoice(this,'{{ awb.pk }}')" ></td>
                                {% else %}
                                    <td><input type="text" class="input-medium" id="in_scan"
                                           onchange="inScanInvoice(this,'{{ awb.pk }}')" disabled></td>
                                {% endif %}
                            {% else %}
                                <td>{{ awb.awb_status.get_readable_choice }}</td>
                            {% endif %}
                            {% if model == 'dto' %}
                                <td>
                                <button class="btn btn-info btn-small pull-left" type="button"
                                    onclick="download_csv('{{ awb.awb }}')">
                                    Print Barcode
                                </button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if model == 'dto' or model == 'rto' %}
        <div class="widget-main">
            {#            {% if model == 'dto' %}#}
            {#                <div>#}
            {#                <form>#}
            {#                    <label for="form-field-select-1">Upload POD</label>#}
            {#                        <input type="file" name="pod">#}
            {#                        <button type="submit" class="btn btn-default">Upload</button>#}
            {#                </form>#}
            {#                </div>#}
            {#            {% endif %}#}
            {#            <br>#}
            <form class="form-inline" role="form" method="post" id="{{ model }}_status_update_form"
                  enctype="multipart/form-data">{% csrf_token %}
                {% if model == 'dto' %}
                    {% csrf_token %}
                    <label for="form-field-select-1">Upload POD</label>
                    <input type="file" name="pod" id="pod">
                {% endif %}
                <label for="form-field-select-1">Status</label>
                <select name="awb_status" id="awb_status">
                    <option value="" selected style="display: none"></option>
                    {% if model == 'dto' %}
                        <option value="DEL">DTO'd to Client</option>
                    {% else %}
                        <option value="RTO">RTO'd to Client</option>
                    {% endif %}
                    <option value="RBC">Rejected by Client</option>
                    <option value="CB">Called Back</option>
                    {#                    <option value="DBC">Deferred by Customer</option>#}
                    {#                    <option value="CNA">Customer not Available</option>#}
                </select>
                <button class="btn btn-info btn-small" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    Update Status
                </button>
                {#                <button class="btn btn-info btn-small" type="button" id="drs_print_sheet">#}
                {#                    <i class="icon-ok bigger-110"></i>#}
                {#                    Print Sheet#}
                {#                </button>#}
            </form>
        </div>
    {% else %}
        <div class="widget-main">
            <form class="form-inline" role="form" method="post" id="{{ model }}_closing_km_form">{% csrf_token %}
                <label for="form-field-select-1">Closing Km.</label>
                <input type="text" name="closing_km" id="closing_km"
                       {% if drs.closing_km != None %}value="{{ drs.closing_km }}"{% endif %}>
                <button class="btn btn-info btn-small" type="button" onclick="save_drs_closing_km('{{ drs.drs_id }}')">
                    <i class="icon-ok bigger-110"></i>
                    Close DRS
                </button>
                {#                <button class="btn btn-info btn-small" type="button" id="drs_print_sheet">#}
                {#                    <i class="icon-ok bigger-110"></i>#}
                {#                    Print Sheet#}
                {#                </button>#}
            </form>
        </div>
    {% endif %}
    <div id="reasonPopUp" class="widget-main">
        <div class="form-inline">
            <label class="center">Enter Reason : </label>

            <div class="input-append">
                <input type="text" name="reason" class="input-xlarge">
            </div>
            <button class="btn btn-info btn-small" onclick="cache_reason()">Submit</button>
            <button class="btn btn-info btn-small" onclick="closeReasonPopUp()">Close</button>
        </div>

    </div>
    <div id="mask"></div>
{% endblock %}

