{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Transit Bag
            <small><i class="icon-double-angle-right"></i> Shipment In-Scanning</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div id="get_message"></div>
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="create_tb_form">{% csrf_token %}
                    {% for field in form %}
                        <label class="center">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Create TB
                    </button>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" id="awb_scanned_count">
    {% include "common/awb_in_scanning.html" %}
    <div class="row-fluid">
        <div class="span12 table-responsive" id="tb_awb_table"></div>
    </div>
{% endblock %}