{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}"/>
    <!--basic styles-->
    <link href="{% static "css/drs_print_sheet.css" %}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="logo"><img src="{% static "img/logo.png" %}"></div>
        <div class="heading"><h1>DELIVERY RUN SHEET</h1></div>
    </header>
    <table id="table0" cellspacing="0" cellpadding="0">
        <thead>
        <tr style="font-size: 12px !important;">
            <td width="120px"><strong>DRS : </strong>{{ drs.drs_id }}</td>
            <td width="100px"><strong>Branch : </strong>{{ drs.branch }}</td>
            <td width="150px"><strong>Date : </strong>{{ drs.creation_date|date }}</td>
            <td width="250px"><strong>Biker Name :</strong> {{ drs.fe.first_name }} {{ drs.fe.last_name }}</td>
            <td width="200px"><strong>Vehicle No. :</strong> {{ drs.vehicle.vehicle_no }}</td>
            <td width="250px"><strong>Opening KM :</strong> {{ drs.opening_km }} Km.</td>
        </tr>
        </thead>
    </table>
    {#    <table id="table1" cellspacing="0" cellpadding="0">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <td width="80px"><strong>SI.</strong></td>#}
    {#            <td width="300px"><strong>Consignment No.</strong></td>#}
    {#            <td width="300px"><strong>DRS : </strong>{{ drs.pk }}</td>#}
    {#            <td width="300px"><strong>Date and Time :</strong> {{ datetime }}</td>#}
    {#        </tr>#}
    {#        </thead>#}
    {#    </table>#}
    <table id="table2">
        <thead>
        <tr>
            <th width="20px">S.No.</th>
            <th width="170px">Consignment Detail</th>
            <th width="300px">Consignee Details</th>
            <th width="230px">Product Description/Reason</th>
            <th width="172px">FE Comments</th>
            <th width="280px">Receiver's Sign</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if awb.priority == 'U' and awb.get_awb_age == 0 %}
                        <div style="height: 3px ; width: 3px ; background-color: #000000"></div>
                    {% endif %}
                    <b>AWB : </b>{{ awb.awb }}<br/>
{#                    <br/>#}
                    {% if awb.priority == 'U' %}<b>URGENT</b>{% endif %}
                    <br/>
                    {{ awb.get_readable_choice }}
                    <br/>
                    {% if awb.category == 'COD' %}<b>Amount : </b>{{ awb.expected_amount }}{% endif %}
                    <b>Client: </b>{{ awb.get_client }}<br/>
                </td>
                <td><b>Name : </b>{{ awb.customer_name|title }}<br/>
                    <b>Address
                        : </b>{{ awb.address_1|title }}, {{ awb.address_2|title }}, {{ awb.city|title }}, {{ awb.pincode }}
                    <br/><b>Phone : </b>{{ awb.phone_1 }}
                    <br/><b>Alt Phone : </b>{{ awb.phone_2 }}
                </td>
                <td>
                    <b>Description: </b>{{ awb.description | title }}<br/>
                    <b>Reason: </b>{{ awb.reason_for_return | title }}<br/>
                    <b>Wt. : </b>{{ awb.weight }} Kg.
                </td>
                <td>
                </td>
                <td>
                    <b>Name : </b><br/>
                    <b>Reason : </b>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <table id="table3">
        <thead>
        <tr>
            <td></td>
            <th width="400px">SENT</th>
            <th width="400px">RETURNED</th>
            <th width="400px">BRANCH MANAGER</th>
        </tr>
        <tr>
            <th width="400px">
                Total Prepaid<br/>
                Total RevPick<br/>
                Total COD<br/>
                Expected Cash
            </th>
            <th width="200px">
                {{ PREs }}<br/>
                {{ REVs }}<br/>
                {{ CODs }}<br/>
                Rs. {{ drs.get_expected_amount }}
            </th>
            <td>

            </td>
            <td>

            </td>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>