{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <button type="button" class="btn btn-info btn-small pull-right" style="margin-left:10px"
                onclick="awb_print_sheet('invoice','invoice_awbs_{{ user.pk }}')">Print
            Invoice
        </button>
        <button type="button" class="btn btn-info btn-small pull-right"
                onclick="awb_print_sheet('barcode','invoice_awbs_{{ user.pk }}')">Print
            Barcode
        </button>
        <h1> Create {{ model|upper }}
            <small><i class="icon-double-angle-right"></i> Shipment In-Scanning</small>
        </h1>
    </div>
    <div id="get_message"></div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="create_{{ model|lower }}_form">{% csrf_token %}
                    {% for field in form %}
                        <label class="center">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Create {{ model|upper }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <label>Pincode</label>
        <div class="tags" id="autosuggest_box">
            <input type="hidden" placeholder="Enter Pincodes..." value="" id="pincode_hidden" name="pincodes">
            <input type="text" placeholder="Enter Pincodes..." id="pincodes"
                   onkeydown="autosuggest(this,'zoning','Pincode','pincode')">
        </div>
        <input type="submit" value="Search" class="btn btn-info btn-small" id="drs_pincode_search">{% csrf_token %}
    </div>
    <br>
    {% include "common/awb_in_scanning.html" %}
    <input type="hidden" id="awb_scanned_count"
            {% if scanned_awbs %}
           value="{% for awb in scanned_awbs %}{{ awb.awb }}{% if forloop.counter != scanned_awbs|length %},{% endif %}{% endfor %}"
            {% endif %}>
    <div class="row-fluid">
        <div class="span12 table-responsive" id="{{ model|lower }}_awb_table"></div>
    </div>
{% endblock %}