{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Create {{ model|upper }}
            <small><i class="icon-double-angle-right"></i> Shipment In-Scanning</small>
        </h1>
    </div>
    <div id="get_message"></div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="create_{{ model }}_form">{% csrf_token %}
                    {% for field in form %}
                        <label class="center">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Create {{ model|upper }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="{{ model }}_in_scanning">
            In-Scan AWB &nbsp
            <input type="text" id="awb_in_scan" class="input-medium">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <input type="hidden" id="awb_scanned">
            <table class="table table-striped table-bordered table-hover table-condensed"
                   id="{{ model|lower }}_in_scanning_table" style="display: none">
                <thead>
                <tr>
                    <th>S.No.</th>
                    <th>AWB</th>
                    {% if model == 'dto' %}
                        <th>Status</th>
                        <th>Weight</th>
                        <th>Length</th>
                        <th>Breadth</th>
                        <th>Height</th>
                        <th>Vendor</th>
                    {% else %}
                        <th>Order Id</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Category</th>
                        <th>Delivery Branch</th>
                        <th>RTO Branch</th>
                    {% endif %}
                    <th>Remove</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                {% if scanned_awbs %}
                    {% for awb in scanned_awbs %}
                        {% if model == 'dto' %}
                            <tr id="{{ awb.pk }}">
                                <input type="hidden" value="{{ awb.pk }}">
                                <td id="s_no">{{ forloop.revcounter }}</td>
                                <td id="awb">{{ awb.awb }}</td>
                                <td>{{ awb.awb_status.get_readable_choice }}</td>
                                <td><input type="text" name="weight" class="input-medium txtDecimal"
                                           {% if awb.weight %}value="{{ awb.weight }}"{% endif %}></td>
                                <td><input type="text" name="length" class="input-medium txtDecimal"
                                           {% if awb.length %}value="{{ awb.length }}"{% endif %}></td>
                                <td><input type="text" name="breadth" class="input-medium txtDecimal"
                                           {% if awb.breadth %}value="{{ awb.breadth }}"{% endif %}></td>
                                <td><input type="text" name="height" class="input-medium txtDecimal"
                                           {% if awb.height %}value="{{ awb.height }}"{% endif %}></td>
                                {% if awb.vendor %}
                                    <td>{{ awb.vendor.vendor_name }}({{ awb.get_vendor_branch }})</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td class="remove">
                                    <div class="hidden-phone visible-desktop btn-group">
                                        <button onclick="removeRow(this)" class="btn btn-mini btn-danger"><i
                                                class="icon-trash bigger-120"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr id="{{ awb.pk }}">
                                <input type="hidden" value="{{ awb.pk }}">
                                <td id="s_no">{{ forloop.revcounter }}</td>
                                <td id="awb">{{ awb.awb }}</td>
                                <td>{{ awb.order_id }}</td>
                                <td>{{ awb.get_client }}</td>
                                <td>{{ awb.awb_status.get_readable_choice }}</td>
                                <td>{{ awb.get_readable_choice }}</td>
                                <td>{{ awb.get_delivery_branch }}</td>
                                <td>{{ awb.get_rto_branch }}</td>
                                <td class="remove">
                                    <div class="hidden-phone visible-desktop btn-group">
                                        <button onclick="removeRow(this)" class="btn btn-mini btn-danger"><i
                                                class="icon-trash bigger-120"></i></button>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" id="awb_scanned_count"
            {% if scanned_awbs %}
           value="
                   {% for awb in scanned_awbs %}{{ awb.awb }}{% if forloop.counter != scanned_awbs|length %},{% endif %}{% endfor %}"
            {% endif %}>
    <div class="row-fluid">
        <div class="span12 table-responsive" id="{{ model|lower }}_awb_table">
        </div>
    </div>
{#    <script type="text/javascript" src="/static/js/printer.js"></script>#}
{#    <applet id="qz" name="QZ Print Plugin" code="qz.PrintApplet.class" archive="/static/js/qz-print.jar"#}
{#            width="50px" height="50px">#}
{#        <!-- Optional, searches for printer with "zebra" in the name on load -->#}
{#        <!-- Note:  It is recommended to use qz.findPrinter() instead for ajax heavy applications -->#}
{#        <param name="printer" value="zebra">#}
{#        <!-- ALL OF THE CACHE OPTIONS HAVE BEEN REMOVED DUE TO A BUG WITH JAVA 7 UPDATE 25 -->#}
{#        <!-- Optional, these "cache_" params enable faster loading "caching" of the applet -->#}
{#        <!-- <param name="cache_option" value="plugin"> -->#}
{#        <!-- Change "cache_archive" to point to relative URL of qz-print.jar -->#}
{#        <!-- <param name="cache_archive" value="./qz-print.jar"> -->#}
{#        <!-- Change "cache_version" to reflect current qz-print version -->#}
{#        <!-- <param name="cache_version" value="1.4.9.1"> -->#}
{#    </applet>#}
{% endblock %}