{% if awb %}
    <tr id="{{ awb.pk }}">
        <input type="hidden" value="{{ awb.pk }}">
        <td id="s_no"></td>
        <td id="awb">{{ awb.awb }}</td>
        <td>{{ awb.awb_status.get_readable_choice }}</td>
        <td><input type="text" name="weight" class="input-medium txtDecimal"
                   {% if awb.weight %}value="{{ awb.weight }}"{% endif %}></td>
        <td><input type="text" name="length" class="input-medium txtDecimal"
                   {% if awb.length %}value="{{ awb.length }}"{% endif %}></td>
        <td><input type="text" name="breadth" class="input-medium txtDecimal"
                   {% if awb.breadth %}value="{{ awb.breadth }}"{% endif %}></td>
        <td><input type="text" name="height" class="input-medium txtDecimal"
                   {% if awb.height %}value="{{ awb.height }}"{% endif %}></td>
        {% if awb.vendor %}
            <td>{{ awb.vendor.vendor_name }}({{ awb.get_vendor_branch }})</td>
        {% else %}
            <td></td>
        {% endif %}
        <td class="remove"></td>
    </tr>
{% endif %}