{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> SMS Action
            <small><i class="icon-double-angle-right"></i> Send Issue Notification</small>
        </h1>
    </div>
    <div id="get_message"></div>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="issue_notification_form"
                      action="">{% csrf_token %}
                    <label class="center">City</label>
                    <select name="city" id="city" style="width: 100px">
                        <option value="" style="display: none" selected></option>
                        {% for city in cities %}
                            <option value="{{ city.pk }}">{{ city.city }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Branch</label>
                    <select name="branch" id="branch" style="width: 100px">
                        <option value="" style="display: none" selected></option>
                        {% for branch in branchs %}
                            <option value="{{ branch.pk }}">{{ branch.branch_name }}</option>
                        {% endfor %}
                    </select>

                    <label class="center">Status</label>

                    <select name="status" id="status" style="width: 100px">
                        <option value="" style="display: none" selected></option>
                        {% for k,v in status %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Client</label>
                    <select name="client" id="client" style="width: 100px">
                        <option value="" style="display: none" selected></option>
                        {% for client in clients %}
                            <option value="{{ client.pk }}">{{ client.client_name }}</option>
                        {% endfor %}
                    </select>

                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Search
                    </button>
                    <button class="btn btn-small" type="reset">
                        <i class="icon-undo bigger-110"></i>
                        Reset
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% if awb_dict %}
        <div class="widget-main">
            <div class="form-inline">
                <label class="center">Reason </label>
                <select name="reason" id="issue_sms_reason" style="width: 150px">
                    <option value="bad weather">bad weather</option>
                    <option value="heavy load">heavy load</option>
                </select>
                <button class="btn btn-small btn-info" onclick="send_issue_sms()">Send SMS</button>
            </div>
        </div>


        <table class="table table-bordered table-condensed table-stripped" id="issue_notification_table">
            <thead>
            <tr>
                <th class="center">
                    <label>
                        <input type="checkbox" class="select_all">
                        <span class="lbl"></span>
                    </label>
                </th>
                <th>Client</th>
                <th>AWBs</th>
                {#                <th>Action</th>#}
            </tr>
            </thead>
            <tbody>
            {% for i,k in awb_dict.items %}
                <tr id="{{ k.client.pk }}">
                    <td class="center">
                        <label>
                            <input type="checkbox" id="{{ k.client.pk }}">
                            <span class="lbl"></span>
                        </label>
                    </td>
                    <td>{{ k.client.client_name }}</td>
                    <td>{{ k.awb_count }}</td>
                    {#                    <td>#}
                    {#                        <button class="btn btn-mini btn-info" onclick="send_issue_sms({{ k.client.pk }})">Send SMS#}
                    {#                        </button>#}
                    {#                    </td>#}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endif %}
    {% if error_msg %}
        <h5 class="blue">{{ error_msg }}</h5>
    {% endif %}

    {#    {% if fl_awb_dict %}#}
    {#        <table class="table table-bordered table-condensed table-stripped">#}
    {#            <thead>#}
    {#            <tr>#}
    {#                <th>S.No.</th>#}
    {#                <th>Client</th>#}
    {#                <th>AWBs</th>#}
    {#                <th>Action</th>#}
    {#            </tr>#}
    {#            </thead>#}
    {#            <tbody>#}
    {#            {% for i,k in fl_awb_dict.items %}#}
    {#                <tr id="{{ k.client.pk }}">#}
    {#                    <td>{{ forloop.counter }}</td>#}
    {#                    <td>{{ k.client.client_name }}</td>#}
    {#                    <td>{{ k.awb_count }}</td>#}
    {#                    <td>#}
    {#                        <button class="btn btn-mini btn-info" onclick="send_issue_sms({{ k.client.pk }})">Send SMS#}
    {#                        </button>#}
    {#                    </td>#}
    {#                </tr>#}
    {#            {% endfor %}#}
    {#            </tbody>#}
    {#        </table>#}
    {#    {% endif %}#}
{% endblock %}