{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!--basic styles-->
    <link href="{% static "css/dto_print_sheet.css" %}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    <header>
        <div class="logo"><img src="/static/img/logo.png"></div>
        <div class="heading"><h1>MTS SHEET</h1></div>
    </header>

    <table id="table0" cellspacing="0" cellpadding="0" style="page-break-after: avoid !important;">
        <thead>
        <tr>
            <td><strong>MTS : </strong>{{ mts.mts_id }}</td>
            <td><strong>From : </strong>Nuvoex Logistics {{ mts.from_branch.get_readable_branch_name }} Branch</td>
            <td><strong>To : </strong>Nuvoex Logistics {{ mts.to_branch.get_readable_branch_name }} Branch</td>
        </tr>
        <tr>
            <td><strong>Date : </strong>{{ datetime }}</td>
            <td><strong>Original Value : </strong>Rs. {{ total_value }}/-</td>
            <td><strong>Total Packets :</strong>{{ awbs|length }}</td>
            <td><strong>Total Weight :</strong>{{ mts.get_total_weight }} Kg</td>
        </tr>
        </thead>
    </table>
    <div style="float: left;font-size: 12px;border: 2px solid black;padding: 5px; margin-bottom:5px;text-align: justify;page-break-after: avoid">
        <strong>Declaration: </strong>The below mentioned goods are being sent for replacement/return purpose only. The
        goods are rejected items from customers and are to be returned. The goods are not being meant for sale and thus
        do not carry any commercial value. The value as mentioned in this stock transfer note is purely for
        transportation and for insurance purpose only.
    </div>
    <table id="table1" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th width="35px"><strong>S.No.</strong></th>
            <th width="100px">AWB</th>
            <th width="760px">Description</th>
            <th width="100px">Weight</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr>
                <td>{{ forloop.counter }} </td>
                <td>{{ awb.awb }} </td>
                <td style="text-align: left;font-size: 13px">{{ awb.description }} </td>
                <td style="font-size:13px">{{ awb.weight }} Kg</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    <table id="table3">#}
    {#        <thead>#}
    {#        <tr>#}
    {#            <td style=" border: 0px;"></td>#}
    {#            <th width="400px">Sent To Client</th>#}
    {#            <th width="400px">Accepted</th>#}
    {#            <th width="400px">Returned</th>#}
    {#        </tr>#}
    {#        <tr>#}
    {#            <th>Total Packets</th>#}
    {#            <td>#}
    {#                <div>{{ awbs|length }}</div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#            </td>#}
    {#            <td>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#            </td>#}
    {#            <td>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#                <div></div>#}
    {#            </td>#}
    {#        </tr>#}
    {#        </thead>#}
    {#    </table>#}
</div>
</body>
</html>