{% if awb %}
    <tr id="{{ awb.pk }}">
        <input type="hidden" value="{{ awb.pk }}">
        <td id="s_no"></td>
        <td id="awb">{{ awb.awb }}</td>
        <td>{{ awb.order_id }}</td>
        <td>{{ awb.get_client }}</td>
        <td>{{ awb.awb_status.get_readable_choice }}</td>
        <td>{{ awb.get_readable_choice }}</td>
        <td>{{ awb.get_delivery_branch }}</td>
        <td>{{ awb.get_rto_branch }}</td>
        <td class="remove"></td>
    </tr>
{% endif %}