{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Create {{ model|upper }}
            <small><i class="icon-double-angle-right"></i> Shipment In-Scanning</small>
        </h1>
    </div>
    <div id="get_message"></div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="create_dto_form">{% csrf_token %}
                    {% for field in form %}
                        <label class="center">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                    <button class="btn btn-info btn-small" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Create {{ model|upper }}
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" id="rto_in_scanning">
            In-Scan AWB &nbsp
            <input type="text" id="awb_in_scan" class="input-medium">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table class="table table-striped table-bordered table-hover table-condensed"
                   id="{{ model|lower }}_in_scanning_table" style="display: none">
                <thead>
                <tr>
                    <th>AWB</th>
                    <th>Order Id</th>
                    <th>Client</th>
                    <th>Status</th>
                    <th>Delivery Branch</th>
                    <th>RTO Branch</th>
                </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive" id="{{ model|lower }}_awb_table"></div>
    </div>
{% endblock %}