{% if fl.count > 0 %}
    <h4 class="blue">AWBs Pending for RTO (Forward Logistics)<strong>
        <small class="red"><i class="icon-double-angle-right"></i> Please In-Scan Shipments</small>
    </strong></h4>
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>AWB</th>
            <th>Order Id</th>
            <th>Client</th>
            <th>Category</th>
            <th>Status</th>
            <th>Delivery Branch</th>
            <th>Current Branch</th>
            <th>RTO Branch</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in fl %}
            <tr id="{{ awb.pk }}">
                <td>{{ forloop.counter }}
                <td>{{ awb.awb }}</td>
                <td>{{ awb.order_id }}</td>
                <td>{{ awb.awb_status.manifest.client }}</td>
                <td>{{ awb.get_readable_choice }}</td>
                <td>{{ awb.awb_status.get_readable_choice }}</td>
                <td>{{ awb.get_delivery_branch }}</td>
                <td>{{ awb.awb_status.current_branch }}</td>
                <td>{{ awb.get_rto_branch }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4 class="blue">No AWB Pending for RTO (Forward Logistics)</h4>
{% endif %}