{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Linehaul Report
            <small><i class="icon-double-angle-right"></i> Transit Bag</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div id="get_message"></div>
            {% if error_msg %}{{ error_msg }}{% endif %}
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="tb_linehaul_report_form">
                    {% csrf_token %}
                    <label class="center">Start Date</label>

                    <div id="start_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                    </div>
                    <label class="center">End Date</label>

                    <div id="end_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                    </div>
                    <label class="center">From Branch</label>
                    <select style="width: 100px" name="origin_branch">
                        <option style="display: none" selected></option>
                        {% for b in branch %}
                            <option value="{{ b.pk }}">{{ b.branch_name }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">To Branch</label>
                    <select style="width: 100px" name="delivery_branch">
                        <option style="display: none" selected></option>
                        {% for b in branch %}
                            <option value="{{ b.pk }}">{{ b.branch_name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn btn-info btn-medium" type="submit" name="action" value="Submit">
                    <input class="btn btn-info btn-medium" type="submit" name="action" value="Export">
                </form>
            </div>
        </div>
    </div>
    {% if table %}
        <div class="row-fluid">
            <div class="span12 table-responsive" id="tb_linehaul_report_table">
                {% render_table table %}
            </div>
        </div>
    {% else %}
        <h4 class="blue">{{ no_data_msg }}</h4>
    {% endif %}
{% endblock %}