{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> AWB
            <small><i class="icon-double-angle-right"></i> {{ type|title }}</small>
        </h1>
        <a href="{{ request.get_full_path }}&export_mis" class="pull-right">
            <input type="submit" class="btn btn-purple btn-medium" value="Export MIS" style="margin-top: -70px">
        </a>
    </div>
    {% if fl_tbl %}
        <h4 class="blue collapse_table">Forward Logistics
            <small><i class="icon-double-angle-right"></i></small>
        </h4>

        <div class="row-fluid">
            <div class="span12 table-responsive">
                {% render_table fl_tbl %}
            </div>
        </div>
    {% endif %}
    {% if rl_tbl %}
        {#        <h4 class="blue collapse_table">Reverse Logistics#}
        {#            <small><i class="icon-double-angle-right"></i></small>#}
        {#        </h4>#}

        <div class="row-fluid">
            <div class="span12 table-responsive">
                {% render_table rl_tbl %}
            </div>
        </div>
    {% endif %}
{% endblock %}