{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1>
           {{ model|title }} Admin Update
        </h1>
    </div>
    <div class="span12">
    <h1 style="color: green">{{ id }}</h1>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <form style="color: #0000ff" class="form-horizontal" role="form" method="post">{% csrf_token %}
                {% for field in form %}
                    <div class="control-group">
                        <label class="control-label" for="form-field-1">{{ field.label|title }}</label>
{#                        {% if field.label|lower == 'pincode' %}#}
{#                            <div class="controls">#}
{#                                <input type="hidden" id="hidden_pincode" name="pincode">#}
{#                                <input type="text" id="warehouse_pincode" name="warehouse_pincode">#}
{#                                {{ field.errors }}#}
{#                            </div>#}
{#                        {% else %}#}
                            <div style="color: green" class="controls">
                                {{ field }}
                                {{ field.errors }}
                            </div>
{#                        {% endif %}#}
                    </div>
                {% endfor %}
                <div id="table"></div>
                <div class="form-actions">
                    <button class="btn btn-info" type="submit">
                        <i class="icon-ok bigger-110"></i>
                        Save {{ model|title }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


