{% extends 'base.html' %}
{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <h4 class="blue">AWB Details</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <tbody>
                        <tr>
                            <th style="color: #000000">AWB</th>
                            <td>{{ awb_details.awb }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Order Id</th>
                            <td>{{ awb_details.order_id }}</td>
                        </tr>
                        {% if awb_details.invoice_no %}
                            <tr>
                                <th style="color: #000000">Invoice No</th>
                                <td>{{ awb_details.invoice_no }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th style="color: #000000">Client</th>
                            <td>{{ awb_details.awb_status.manifest.client.client_name }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Customer Name</th>
                            <td>{{ awb_details.customer_name|title }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Address</th>
                            <td>{{ awb_details.address_1|title }}, {{ awb_details.address_2|title }}, {{ awb_details.city|title }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Pincode</th>
                            <td>{{ awb_details.pincode }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Contact</th>
                            <td>{{ awb_details.phone_1 }} , {{ awb_details.phone_2 }}</td>
                        </tr>
                        <tr>
                            <th style="color: #000000">Category</th>
                            <td>{{ awb_details.get_readable_choice }}</td>
                        </tr>
                        {% if awb_details.category == 'COD' %}
                            <tr>
                                <th style="color: #000000">COD Amount</th>
                                <td>Rs. {{ awb_details.expected_amount }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th style="color: #000000">Description</th>
                            <td>{{ awb_details.description|title }}</td>
                        </tr>
                        {% if awb_details.reason_for_return %}
                            <tr>
                                <th style="color: #000000">Reason for Return</th>
                                <td>{{ awb_details.reason_for_return|title }}</td>
                            </tr>
                        {% endif %}
                        {% if awb_invoice_image or awb_shipment_image %}
                            <tr>
                                <th style="color: #000000">Photos</th>
                                <td>
                                    {% if awb_invoice_image %}
                                        <a href="/media/{{ awb_invoice_image }}" target="_blank">Invoice</a>
                                    {% endif %}
                                    {% if awb_shipment_image %}
                                        ,
                                        <a href="/media/{{ awb_shipment_image }}" target="_blank">Shipment</a>
                                    {% endif %}
                                    {#                                    <div id="lightbox"></div>#}
                                    {#                                    <div id="mask" onclick="removeMask()"></div>#}
                                </td>
                            </tr>
                        {% endif %}
                        {% if awb_details.get_awb_shipment_video %}
                            <tr>
                              <th style="color: #000000">Video</th>
                              <td>
                                 <a href="/media/{{ awb_details.get_awb_shipment_video }}" target="_blank">Video</a>
                              </td>
                            </tr>
                        {% endif %}
                        {% if awb_details.get_awb_dto_pod %}
                        <tr>
                            <th>POD</th>
                            <td><img src="/media/>{{ awb_details.get_awb_dto_pod }}" /></td>
                        </tr>
                        {% endif %}
                        {% if awb_notification %}
                            {% for n in awb_notification %}
                                <tr>
                                    <th style="color: #000000">{{ n.get_notify_type }}</th>
                                    <td>
                                        {% if n.send %}
                                            <i class="icon-ok bigger"></i>
                                        {% else %}
                                            <i class="icon-warning-sign bigger"></i>
                                        {% endif %}&nbsp;&nbsp;
                                        {{ n.status|title }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        {% if awb_details.get_expected_delivery_date %}
                            <tr>
                                <th style="color: #000000">Expected Delivery Date</th>
                                <td>By {{ awb_details.get_expected_delivery_date }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if awb_details.vendor %}
                            <tr>
                                <th style="color: #000000">Vendor</th>
                                <td>By {{ awb_details.vendor.vendor_name|title }}
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

            <h4 class="blue">AWB History</h4>

            <div class="row-fluid">
                <div class="span12">
                    <table class="table table-bordered table-condensed table-stripped">
                        <thead>
                        <tr>

                            <th style="color: #000000">History</th>
                            <th style="color: #000000">Time</th>
                            <th style="color: #000000">Updated By</th>
                            {% if user.is_superuser or user.profile.role == 'OM' %}
                                <th style="color: #000000">Action</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in awb_hist.items %}
                            {% if v.status != '' %}
                                <tr id="{{ v.pk }}" class="{{ v.class }}">

                                    <td>{{ v.status }}</td>
                                    <th style="color: #000000">{{ v.time }}</th>
                                    <td>
                                        {% if v.updated_by %}
                                            {{ v.updated_by|title }}
                                        {% endif %}
                                    </td>
                                    {% if user.is_superuser  or user.profile.role == 'OM' %}
                                        <td>
                                            <div class="hidden-phone visible-desktop btn-group">
                                                <button class="btn btn-mini btn-success"
                                                        onclick="awb_history_action(this,'{{ v.pk }}','True')">
                                                    <i class="icon-ok bigger-120"></i>
                                                </button>
                                                <button class="btn btn-mini btn-danger"
                                                        onclick="awb_history_action(this,'{{ v.pk }}','')">
                                                    <i class="icon-trash bigger-120"></i>
                                                </button>
                                            </div>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}