{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>
    <!--basic styles-->
    <link href="{% static 'css/reverse_print_sheet.css' %}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    {#    <header>#}
    {#        <div class="heading"><h2>REVERSE PICKUP LIST</h2></div>#}
    {#    </header>#}
    <table>
        <thead>
        <tr>
            <th>S.No.</th>
            <th>Barcode</th>
            <th>Weight</th>
            <th>Address</th>
            <th>Pincode</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr>
                <td>{{ forloop.counter }} </td>
                <td><img src="/media/{{ awb.barcode }}"></td>
                <td style="font-size: 13px;width: 45px">{{ awb.weight }} Kg</td>
                <td style="font-size: 14px;padding-left:5px;padding-right: 5px">
                    <strong>Address: </strong>{{ awb.get_full_address|title }}
                    <br/><br/>
                    <strong>Description: </strong>{{ awb.description }}
                </td>
                <td> {{ awb.pincode.pincode }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
