{% extends "base.html" %}
{% block content %}
    <h2>{{ msg }}</h2>
<table class="table table-bordered table-condensed table-stripped">
    <thead>
    <tr>
        {% if awb %}
        <th>AWB</th>
        <th>Order Id</th>
        <th>Client</th>
        <th>Category</th>
        <th>Status</th>
        <th>Current Branch</th>
        <th>Delivery Branch</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% if awb %}
        <tr>
            <td><a href="/transit/awb/admin_update/{{ awb.pk }}">{{ awb.awb }}</a></td>
            <td>{{ awb.order_id }}</td>
            <td>{{ awb.awb_status.manifest.client }}</td>
            <td>{{ awb.get_readable_choice }}</td>
            <td>{{ awb.awb_status.get_readable_choice }}</td>
            <td>{{ awb.awb_status.current_branch }}</td>
            <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}