{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Nuvo Logistics System{% endblock %}</title>
    <meta name="description" content="Static &amp; Dynamic Tables"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <style type="text/css">
        body {
            display: block;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        #wrapper {
            position: inherit;
            width: 1002px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            page-break-after: always;
            page-break-inside: avoid;
            margin-top: 20px;
            margin-bottom: 40px;
        }

        header {
            display: block;
            float: left;
        }

        div {
            display: block;
            float: left;
        }

        .address {
            font-size: 12px;
            margin-left: -140px;
        }

        .logo img {
            width: 147px;
            float: left;
        }

        .heading {
            float: left;
            margin: 60px 80px;
        }

        h1 {
            padding: 10px
        }

        .header1 {
            width: 1000px;
            margin-top: -90px;
            font-size: 14px;
        }

        .date_client {
            width: 240px;
            padding: 10px;
        }

        .left {
            float: left;
            width: 200px;
            padding-top: 2px;
            padding-left: 0;
        }

        .branch {
            margin: 15px 50px;
            width: 120px;
        }

        .branch strong {
            padding: 5px;
        }

        .center {
            text-align: center;
            padding: 2px;
        }

        .text_wrap {
            text-wrap: normal;
            padding: 10px;
        }

        table {
            font-size: 18px;
            display: block;
            float: left;
            width: 1006px;
            border-spacing: 0;
            border-collapse: collapse;
        }

        .border {
            border: 2px solid black;
        }

        .fixed_height {
            height: 150px;
        }

        .border_bottom {
            border-bottom: 2px solid #000000;
        }

        .details {
            font-size: 18px;
            width: 100%;
            display: block;
            float: left;
            border: 2px solid #000000;
            margin-top: -2px;
            height: 200px;
        }

        .block1 {
            width: 132px;
            float: left;
            padding: 5px;
            height: 100%;
        }

        .block2 {
            width: 840px;
            padding: 5px;
            height: 200px;
        }

        .block1 div:first-child {
            height: 30px;
            margin: 12px 12px;
        }

        .block1 div:nth-child(2) {
            margin: 21px 12px;
        }

        .block1 div:nth-child(3) {
            margin: -10px 12px;
        }

        .block1 div:nth-child(4) {
            margin: 15px 12px;
        }

        .block1 div:last-child {
            margin: -8px 12px;
            width: 200px;
        }

        .full_width {
            width: 100%;
            height: 30px;
        }

        @page {
            size: A4;
            margin: 0;
        }
    </style>
</head>
<body>

{% for awb in awbs %}
    <div id="wrapper">
        <header>
            <div class="logo"><img src="{% static 'img/logo.png' %}"></div>
            <div class="heading"><h1>NUVO EX REVERSE PICKUP SHEET</h1></div>
            <div class="address">
                Nuvo Logistics Pvt Ltd<br/>
                D-126, D - Block, Near Mayom Hospital<br/>
                South City 1, Gurgaon, Haryana-122001<br/>
                Ph: +91 8882140288<br/>
            </div>
        </header>
        <div class="header1">
            <div class="date_client">
                <div class="left"><strong>CLIENT</strong> &nbsp;&nbsp;{{ awb.get_client }}</div>
                <br/>

                <div class="left"><strong>DATE</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ date }}</div>
            </div>
            <div class="barcode">
                <img src="/media/{{ awb.barcode }}">
            </div>
            <div class="branch">
                <strong>BRANCH </strong>{{ awb.get_pickup_branch }}
                <strong>FE :</strong>{{ awb.get_current_fe }}
            </div>
        </div>
        <table cellspacing="2" cellpadding="2">
            <tr>
                <th width="142px" class="center border">Order No.</th>
{#                <th width="32px" class="center border">Priority</th>#}
                <th width="848px" class="center border">Customer Details</th>
            </tr>
            <tr class="fixed_height">
                <td width="142px" class="text_wrap border">{{ awb.order_id }}
{#                    {% if awb.priority == 'U' %}#}
{#                        <strong>(Urgent)</strong>#}
{#                    {% endif %}#}
                {% if awb.priority == 'U' and awb.get_awb_age == 0 %}
                        <div style="color: #000000">**</div>
                {% endif %}
                </td>
                <td width="848px" class="text_wrap border">
                    {% if awb.priority == 'U' %}
                        <strong>***URGENT***</strong><br/>
                    {% endif %}
                    <strong>Name: </strong>{{ awb.customer_name|title }} <br/>
                    <strong>Address: </strong>{{ awb.get_full_address|title }}, {{ awb.city|title }}, {{ awb.pincode|title }}
                    <br/>
                    <strong>Mobile No.</strong> {{ awb.phone_1 }}, {{ awb.phone_2 }}
                </td>
            </tr>
        </table>
        <div class="details" style="margin-bottom: 100px">
            <div class="block1">
                <div>Item Details</div>
                <div>Description</div>
                <div>Total Pieces</div>
                <div>Condition</div>
                <div>Field Executive Sign</div>
            </div>
            <div class="block2">
                <div class="border_bottom full_width">
                    <div style="float: right;margin-top:5px">as told by customer</div>
                </div>
                <div class="border_bottom full_width"></div>
                <div class="border_bottom full_width">
                    <div style="height:30px;margin:7px 5px">{{ awb.description|title }}</div>
                </div>
                <div class="full_width">
                    <div class="border_bottom" style="width:100px;height:30px"></div>
                    <div style="width:150px;height:30px;margin:12px 5px">Reason for Return</div>
                    <div style="width:580px;height:30px" class="border_bottom">{{ awb.reason_for_return }}</div>
                </div>
                <div class="full_width">
                    <div style="width:45px;height:30px;margin:12px 5px">Open</div>
                    <div style="width:785px;height:30px;" class="border_bottom"></div>
                </div>
                <div class="full_width">
                    <div style="width:250px;height:30px;"></div>
                    <div style="width:250px;height:30px;margin-top: 14px">Customer Sign</div>
                </div>
            </div>
        </div>

        <header>
            <div class="logo"><img src="{% static 'img/logo.png' %}"></div>
            <div class="heading"><h1>NUVO EX REVERSE PICKUP SHEET</h1></div>
            <div class="address">
                Nuvo Logistics Pvt Ltd<br/>
                D-126, D - Block, Near Mayom Hospital<br/>
                South City 1, Gurgaon, Haryana-122001<br/>
                Ph: +91 8882140288<br/>
            </div>
        </header>
        <div class="header1">
            <div class="date_client">
                <div class="left"><strong>CLIENT</strong> &nbsp;&nbsp;{{ awb.get_client }}</div>
                <br/>

                <div class="left"><strong>DATE</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ date }}</div>
            </div>
            <div class="barcode">
                <img src="/media/{{ awb.barcode }}">
            </div>
            <div class="branch">
                <strong>BRANCH </strong>{{ awb.get_pickup_branch }}
                <strong>FE :</strong>{{ awb.get_current_fe }}
            </div>
        </div>
        <table cellspacing="2" cellpadding="2">
            <tr>
                <th width="142px" class="center border">Order No.</th>
                <th width="848px" class="center border">Customer Details</th>
            </tr>
            <tr class="fixed_height">
                <td width="142px" class="text_wrap border">{{ awb.order_id }}
{#                    {% if awb.priority == 'U' %}#}
{#                        <strong>(Urgent)</strong>#}
{#                    {% endif %}#}
                {% if awb.priority == 'U' and awb.get_awb_age == 0 %}
                        <div style="color: #000000">**</div>
                {% endif %}
                </td>
                <td width="848px" class="text_wrap border">
                    {% if awb.priority == 'U' %}
                        <strong>***URGENT***</strong><br/>
                    {% endif %}
                    <strong>Name: </strong>{{ awb.customer_name|title }} <br/>
                    <strong>Address: </strong>{{ awb.get_full_address|title }}, {{ awb.city|title }}, {{ awb.pincode|title }}
                    <br/>
                    <strong>Mobile No.</strong> {{ awb.phone_1 }}, {{ awb.phone_2 }}
                </td>
            </tr>
        </table>
        <div class="details">
            <div class="block1">
                <div>Item Details</div>
                <div>Description</div>
                <div>Total Pieces</div>
                <div>Condition</div>
                <div>Field Executive Sign</div>
            </div>
            <div class="block2">
                <div class="border_bottom full_width">
                    <div style="float: right;margin-top:5px">as told by customer</div>
                </div>
                <div class="border_bottom full_width"></div>
                <div class="border_bottom full_width">
                    <div style="height:30px;margin:7px 5px">{{ awb.description|title }}</div>
                </div>
                <div class="full_width">
                    <div class="border_bottom" style="width:100px;height:30px"></div>
                    <div style="width:150px;height:30px;margin:12px 5px">Reason for Return</div>
                    <div style="width:580px;height:30px" class="border_bottom"></div>
                </div>
                <div class="full_width">
                    <div style="width:45px;height:30px;margin:12px 5px">Open</div>
                    <div style="width:785px;height:30px;" class="border_bottom"></div>
                </div>
                <div class="full_width">
                    <div style="width:250px;height:30px;"></div>
                    <div style="width:250px;height:30px;margin-top: 14px">Customer Sign</div>
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endfor %}
</body>
</html>
