{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1>Generate MIS</h1>
    </div>
    <div id="get_message"></div>
    {% if file %}
        <div class="alert alert-block alert-success">
            <button data-dismiss="alert" class="close" type="button"><i class="icon-remove"></i></button>
            Your MIS is generated <a class="blue" href="/media/{{ file }}">Click here</a> to download.
        </div>
    {% endif %}
    <form class="form-horizontal" role="form" method="post" id="create_mis_form" action="/transit/awb/mis_download">{% csrf_token %}
        <div class="control-group">
            {% if user.profile.role != 'CL' %}
                <label class="control-label" for="form-field-1">Client</label>

                <div class="controls">
                    <select name="client" id="client">
                        <option selected style="display: none"></option>
                        {% for client in clients %}
                            <option value="{{ client.client_code }}">{{ client.client_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>
        <div class="control-group">
            <label class="control-label">Start Date</label>

            <div class="controls">
                <div id="start_date" class="input-append">
                    <input data-format="yy-mm-dd" type="text" name="start_date">
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">End Date</label>

            <div class="controls">
                <div id="end_date" class="input-append">
                    <input data-format="yy-mm-dd" type="text" name="end_date">
                </div>
            </div>
        </div>
        <div class="form-actions">
            {% if user.profile.role != 'CL' %}
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    Download
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% endif %}
            <button class="btn btn-info" type="button" onclick="email_mis(this)">
                <i class="icon-ok bigger-110"></i>
                Email File
            </button>
        </div>
    </form>

{% endblock %}
