{% if awbs.count > 0 %}
    <table class="table table-bordered table-condensed table-stripped">
        <thead>
        <tr>
            <th>S.No.</th>
            <th>AWB</th>
            <th>Order Id</th>
            <th>Call Made</th>
            <th>Connected</th>
            <th>Call Count</th>
            <th>Update Status</th>
            <th>Remarks</th>
            <th>Reason</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for awb in awbs %}
            <tr id="{{ awb.pk }}">
                <td>{{ forloop.counter }}
                <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                <td>{{ awb.order_id }}</td>

                <td class="center">
                    <label>
                        {% if awb.awb_status.call == True %}
                            <input type="checkbox" name="call" id="call" checked>
                            <span class="lbl"></span>
                        {% else %}
                            <input type="checkbox" name="call" id="call">
                            <span class="lbl"></span>
                        {% endif %}
                    </label>
                </td>
                <td class="center">
                    <label>
                        {% if awb.awb_status.connected_call == True %}
                            <input type="checkbox" name="connected_call" id="connected_call" checked>
                            <span class="lbl"></span>
                        {% else %}
                            <input type="checkbox" name="connected_call" id="connected_call">
                            <span class="lbl"></span>
                        {% endif %}
                    </label>
                </td>
                <td>
                    {{ awb.get_call_count }}
                </td>
                <td>
                    <select name="status" id="status">
                        <option value="{{ awb.awb_status.status }}"
                                style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                        <option value="SCH">Scheduled</option>
                        <option value="CAN">Cancelled</option>
                        {#                        <option value="DBC">Deferred by Customer</option>#}
                        {#                        <option value="CNA">Customer not Available</option>#}
                        {#                        {% if awb.category != 'REV' %}#}
                        {#                            <option value="RET">Returned</option>#}
                        {#                        {% endif %}#}
                    </select>
                </td>
                <td>
                    <select name="remark" id="remark">
                        <option value="{{ awb.awb_status.remark }}" style="display: none"
                                selected>{{ awb.awb_status.remark }}</option>
                        {% if awb.category == 'REV' %}
                            {% for k,v in awb_rl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% else %}
                            {% for k,v in awb_fl_remarks %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td id="reason_td_{{ awb.pk }}">
                    <input type="text" name="reason" id="reason_{{ awb.pk }}" value="{{ awb.awb_status.reason }}">
                </td>
                <td>
                    <button class="btn btn-info btn-small" type="button" onclick="updateByCC(this)">
                        Save
                    </button>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h4 class="blue">No AWB found</h4>
{% endif %}

<div style="display: none" id="reason_hidden">
    <input type="text" name="reason">
    <select id="reason_{{ awb.pk }}">
        <option value="{{ awb.awb_status.reason }}" style="display: none"
                selected>{{ awb.awb_status.reason }}</option>
        {% if awb.category == 'REV' %}
            {% for k,v in awb_rl_reason %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        {% else %}
            {% for k,v in awb_fl_reason %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        {% endif %}

    </select>
</div>

<div style="display: none" id="reason_hidden_cancel">
    <input type="text" name="reason">
    <select id="reason_{{ awb.pk }}">
        <option value="{{ awb.awb_status.reason }}" style="display: none"
                selected>{{ awb.awb_status.reason }}</option>
        <option value="Customer does not want to return">Customer does not want to return</option>
        <option value="Pickup already done by self/other courier">Pickup already done by self/other courier</option>
    </select>
</div>