{% if awb %}
    <input type="hidden" value="{{ awb.pk }}">
    <td id="s_no"></td>
    <td id="awb">{{ awb.awb }}</td>
    <td>{{ awb.order_id }}</td>
    <td>{{ awb.get_readable_choice }}</td>
    <td>{{ awb.awb_status.get_readable_choice }}</td>
    <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
    <td class="remove"></td>
{% endif %}