{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> AWB
            <small><i class="icon-double-angle-right"></i> Filters</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <div id="get_message"></div>
            <div class="widget-main">
                <form class="form-inline" role="form" method="post" id="awb_report_cc_form">{% csrf_token %}
                    <label class="center">AWB</label>
                        
                    <div class="input-append">
                        <input type="text" name="awb" id="awb">
                    </div>

                    <label class="center">Client</label>
                    <select name="client" id="client">
                        <option selected style="display: none"></option>
                        {% for client in clients %}
                            <option value="{{ client.client_code }}">{{ client.client_name }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Status</label>
                    <select name="status" id="status">
                        <option value="" style="display: none"></option>
                        {% for k,v in status %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                    </select>
                    <label class="center">Call Status</label>
                    <select name="call_status" id="call_status" style="width: 150px">
                        <option value="{{ awb.awb_status.connected_call }}"
                                style="display: none">{{ awb.awb_status.get_readable_choice }}</option>
                        <option value="1">Connected</option>
                        <option value="0">Unconnected</option>
                    </select>
                    <label class="center">Start Date</label>

                    <div id="start_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                    </div>
                    <label class="center">End Date</label>

                    <div id="end_date" class="input-append">
                        <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                    </div>
                    <label class="center">Priority</label>
                    <select name="priority" id="priority">
                        <option value="" style="display: none" selected></option>
                        <option value="N">Normal</option>
                        <option value="H">High</option>
                        <option value="L">Low</option>
                    </select>
                    <label class="center">Remark</label>
                    <select name="remark" id="remark">
                        <option value="" style="display: none"></option>
                        {% for k,v in awb_fl_remarks %}
                            {% if v != 'Other' %}
                                <option value="{{ k }}">{{ v }}</option>
                            {% endif %}
                        {% endfor %}
                        {% for k,v in awb_rl_remarks %}
                            <option value="{{ k }}">{{ v }}</option>
                        {% endfor %}
                        <option value="None">Blank</option>
                    </select>
                    <label class="center">Role</label>
                    <select name="role" id="role" style="width: 150px">
                        <option value="" style="display: none" selected></option>
                        <option value="ADM">Admin</option>
                        <option value="BM">Branch Manager</option>
                        <option value="CS">Customer Service</option>
                    </select>
                    <button class="btn btn-info btn-small" type="button" id="awb_report_cc_search">
                        <i class="icon-ok bigger-110"></i>
                        Search
                    </button>
                    <button class="btn btn-info btn-small" type="reset">
                        <i class="icon-ok bigger-110"></i>
                        Reset
                    </button>
                    <a href="/transit/awb/export_mis_searched_awb">
                        <button class="btn btn-info btn-small" type="button">
                            <i class="icon-ok bigger-110"></i>
                            Export MIS
                        </button>
                    </a>
                </form>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive" id="awb_table_cc">
            {% if awbs %}
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>AWB</th>
                        <th>Client</th>
                        <th>Branch</th>
                        <th>Delivery Branch</th>
                        <th>Collected Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in awbs %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}
                            <td><a href="/transit/awb/{{ awb.pk }}" target="_blank">{{ awb.awb }}</a></td>
                            <td>{{ awb.get_client.client_name }}</td>
                            <td>{{ awb.get_delivery_branch.branch_name }}</td>
                            <td>{{ awb.expected_amount }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <h4 class="blue">No AWB found</h4>
            {% endif %}
        </div>
    </div>
{% endblock %}