<h4 class="green">AWB Vendor Update Report</h4>
<div>
    <div class="span12 table-responsive">
        <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Updated</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Not Exist</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Vendor Not Exist</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_updated|length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_not_exist|length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ vendor_not_exist|length }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{#{% if awb_updated %}#}
{#    <br/><br/>#}
{#    <h4 class="light-red">AWB Updated</h4>#}
{#    <div class="row-fluid">#}
{#        <div class="span12 table-responsive">#}
{#            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Vendor Code</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for awb in awb_updated %}#}
{#                    <tr>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}</td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb }}</td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.vendor }}</td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#    <br/><br/>#}
{#{% endif %}#}

{% if awb_not_exist %}
    <br/><br/>
    <h4 class="light-red">AWB Not Exist</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>
                </tr>
                </thead>
                <tbody>
                {% for awb in awb_not_exist %}
                    <tr>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}

{% if vendor_not_exist %}
    <br/><br/>
    <h4 class="light-red">Vendor Not Exist</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Vendor Code</th>
                </tr>
                </thead>
                <tbody>
                {% for vendor in vendor_not_exist %}
                    <tr>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ vendor }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}