{% extends "base.html" %}
{% block content %}

    {% if msg %}
        <div class="page-header position-relative">
            <h1>{{ msg }}</h1>
        </div>
    {% endif %}
    <br>
    <form style="" method="post" action="">{% csrf_token %}
      <input style="color: red" type="text" name="q" />
      <input style="color: green" type="submit" value="Search"/>
    </form>
{% endblock %}
