{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> Finance Report
            <small><i class="icon-double-angle-right"></i> Filters</small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <form class="form-horizontal" role="form" method="post" action="">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label">Client</label>

                    <div class="controls">
                        <select name="client" id="client" style="width: 150px">
                            <option selected style="display: none"></option>
                            {% for client in clients %}
                                <option value="{{ client.pk }}">{{ client.client_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="control-label">Branch</label>

                    <div class="controls">
                        <select name="branch" id="branch" style="width: 150px">
                            <option selected style="display: none"></option>
                            {% for branch in branchs %}
                                <option value="{{ branch.pk }}">{{ branch.branch_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <label class="control-label">Start Date</label>

                    <div class="controls">
                        <div id="start_date" class="input-append">
                            <input data-format="yyyy-MM-dd" type="text" name="start_date" class="input-small">
                        </div>
                    </div>
                    <label class="control-label">End Date</label>

                    <div class="controls">
                        <div id="end_date" class="input-append">
                            <input data-format="yyyy-MM-dd" type="text" name="end_date" class="input-small">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <input class="btn btn-info" type="submit" value="Export Report">
                    <button class="btn btn-purple btn-small" type="reset">
                        Reset
                    </button>
                </div>

            </form>
        </div>
    </div>
    {#    <div class="row-fluid">#}
    {#        <div class="span12 table-responsive" id="awb_finance_tbl"></div>#}
    {#    </div>#}
{% endblock %}