{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative" id="manifest_header">
        <h1> AWB
            <small><i class="icon-double-angle-right"></i>In-Scanning</small>
        </h1>
    </div>
    <div id="get_message"></div>
    <input type="hidden" id="awb_scanned_count">
    {% include "common/awb_in_scanning.html" %}
{% endblock %}

