<h4 class="green">Manifest Report</h4>
<div>
    <div class="span12 table-responsive">
        <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Name</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Uploaded</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Existing</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Vendor code Added</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Wrong Pincode</th>
{#                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Existing</th>#}
{#                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Order ID Existing</th>#}
{#                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Wrong Pincode</th>#}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ manifest }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_uploaded | length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ existing_awb | length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ vendor_add | length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ wrong_pincode | length }}</td>
{#                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_existing|length }}</td>#}
{#                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ order_id_existing|length }}#}
{#                </td>#}
{#                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ wrong_pincode|length }}#}
{#                </td>#}
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% if awb_error %}
    <br/><br/>
    <h4 class="light-red">Manifest Upload Error</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Row</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Error Msg</th>
                </tr>
                </thead>
                <tbody>
                {% for error in awb_error %}
                    <tr>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ error.row }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ error.error_msg }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}

{#{% if awb_uploaded %}#}
{#    <br/><br/>#}
{#    <h4 class="light-red">Uploaded AWB</h4>#}
{#    <div class="row-fluid">#}
{#        <div class="span12 table-responsive">#}
{#            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">#}
{#                <thead>#}
{#                <tr>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Order Id</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Client</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Category</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Status</th>#}
{#                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Delivery Branch</th>#}
{#                </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                {% for awb in awb_uploaded %}#}
{#                    <tr id="{{ awb.pk }}">#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb }}</td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb.order_id }}</td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb.client }}#}
{#                        </td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb.awb_status.manifest.get_readable_choice }}#}
{#                        </td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb.awb_status.get_readable_choice }}#}
{#                        </td>#}
{#                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb.pincode.branch_pincode.branch.branch_name }}#}
{#                        </td>#}
{#                    </tr>#}
{#                {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#{% endif %}#}

{% if vendor_add %}
    <br/><br/>
    <h4 class="light-red">New Vendor Assign</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Vendor Code</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Client</th>

                </tr>
                </thead>
                <tbody>
                {% for vendor_code in vendor_add %}
                    <tr id="{{ awb.pk }}">
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ vendor_code.vendor_code }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ vendor_code.client }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}


