{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <a href="javascript:void(0)" class="pull-right">
            <button type="button" class="btn btn-info" id="download_manifest_invoice">Download Invoice</button>
        </a>

        <h1> Manifest {{ manifest }}
            <small><i class="icon-double-angle-right"></i> Select AWBs to Download Invoice</small>
        </h1>
    </div>
    <div class="row-fluid" style="margin-top:10px">
        <div class="span12">
            <div class="row-fluid">
                <div class="span12">
                    {% include "common/awb_table.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
