{% extends "base.html" %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Manifest Upload</h1>
    </div>
    {% if message %}
        <div class="alert alert-block alert-success">
            <button data-dismiss="alert" class="close" type="button">
                <i class="icon-remove"></i>
            </button>
            <i class="icon-ok green"></i>
            {{ message }}
        </div>
    {% endif %}
    {% if form %}
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <h4><a href="/media/uploads/sample/sample_manifest.xlsx">Download Sample Manifest</a></h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
                    {#                    {% csrf_token %}#}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="margin:15px 160px">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info btn-small">Upload</button>
                            <button type="reset" class="btn btn-info btn-small">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {% if manifest %}
        <h4 class="green">Manifest Report</h4>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>AWB Uploaded</th>
                        <th>AWB Existing</th>
                        <th>Order ID Existing</th>
                        <th>AWB Wrong Pincode</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ manifest }}</td>
                        <td>{{ awb_uploaded|length }}</td>
                        <td>{{ awb_existing|length }}</td>
                        <td>{{ order_id_existing|length }}</td>
                        <td>{{ wrong_pincode|length }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if wrong_awb %}
        <h4 class="light-red">Wrong AWBs</h4>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>AWB</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in wrong_awb %}
                        <tr>
                            <td>{{ forloop.counter }} </td>
                            <td>{{ awb }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if awb_existing %}
        <h4 class="light-red">Existing AWB</h4>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>AWB</th>
                        <th>Order Id</th>
                        <th>Client</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Delivery Branch</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in awb_existing %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}
                            <td>{{ awb.awb }}</td>
                            <td>{{ awb.order_id }}</td>
                            <td>{{ awb.awb_status.manifest.client }}</td>
                            <td>{{ awb.awb_status.manifest.get_readable_choice }}</td>
                            <td>{{ awb.awb_status.get_readable_choice }}</td>
                            <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if order_id_existing %}
        <h4 class="light-red">Existing Order ID</h4>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <table class="table table-bordered table-condensed table-stripped">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>AWB</th>
                        <th>Order Id</th>
                        <th>Client</th>
                        <th>Category</th>
                        <th>Status</th>
                        <th>Delivery Branch</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for awb in order_id_existing %}
                        <tr id="{{ awb.pk }}">
                            <td>{{ forloop.counter }}
                            <td>{{ awb.awb }}</td>
                            <td>{{ awb.order_id }}</td>
                            <td>{{ awb.awb_status.manifest.client }}</td>
                            <td>{{ awb.awb_status.manifest.get_readable_choice }}</td>
                            <td>{{ awb.awb_status.get_readable_choice }}</td>
                            <td>{{ awb.pincode.branch_pincode.branch.branch_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if wrong_pincode %}
        <h4 class="light-red">AWBs with Wrong Pincodes</h4>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>AWB</th>
                        <th>Pincode</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pincode,awb in wrong_pincode.items %}
                        <tr>
                            <td>{{ forloop.counter }} </td>
                            <td>{{ awb }}</td>
                            <td>{{ pincode }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}