{% extends 'base.html' %}
{% block content %}
    <div class="page-header position-relative">
        <h1> Manifest Upload</h1>
    </div>
    {% if message %}
        <div class="alert alert-block alert-success">
            <button data-dismiss="alert" class="close" type="button">
                <i class="icon-remove"></i>
            </button>
            <i class="icon-ok green"></i>
            {{ message }}
        </div>
    {% endif %}
    {% if form %}
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <h4><a href="/media/uploads/sample/sample_manifest_new.xlsx">Download Sample Manifest</a></h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 table-responsive">
                <form class="form-horizontal" role="form" enctype="multipart/form-data" method="post">
                    {#                    {% csrf_token %}#}
                    {% for field in form %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{{ field.label }}</label>

                            <div class="col-sm-10">
                                {{ field }}
                            </div>
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div class="form-group" style="margin:15px 160px">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info btn-small">Upload</button>
                            <button type="reset" class="btn btn-info btn-small">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}