<h4 class="green">Manifest Report</h4>
<div>
    <div class="span12 table-responsive">
        <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
            <thead>
            <tr>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Name</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Uploaded</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Existing</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Order ID Existing</th>
                <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB Wrong Pincode</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ manifest }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_uploaded|length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb_existing|length }}</td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ order_id_existing|length }}
                </td>
                <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ wrong_pincode|length }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/><br/>

{% if wrong_awb %}
    <br/><br/>
    <h4 class="light-red">Wrong AWBs</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>
                </tr>
                </thead>
                <tbody>
                {% for awb in wrong_awb %}
                    <tr>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}


{% if order_id_existing %}
    <br/><br/>
    <h4 class="light-red">Existing Order ID</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Order Id</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Client</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Category</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Status</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Delivery Branch</th>
                </tr>
                </thead>
                <tbody>
                {% for awb in order_id_existing %}
                    <tr id="{{ awb.pk }}">
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.order_id }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.manifest.client }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.manifest.get_readable_choice }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.get_readable_choice }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.pincode.branch_pincode.branch.branch_name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}

{% if wrong_pincode %}
    <br/><br/>
    <h4 class="light-red">AWBs with Wrong Pincodes</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Pincode</th>
                </tr>
                </thead>
                <tbody>
                {% for pincode,awb in wrong_pincode.items %}
                    <tr>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ pincode }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br/><br/>
{% endif %}


{% if awb_existing %}
    <br/><br/>
    <h4 class="light-red">Existing AWB</h4>
    <div class="row-fluid">
        <div class="span12 table-responsive">
            <table style="display: block;float: left; border-spacing: 0; border-collapse: collapse;">
                <thead>
                <tr>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">S.No.</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">AWB</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Order Id</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Client</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Category</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Status</th>
                    <th style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">Delivery Branch</th>
                </tr>
                </thead>
                <tbody>
                {% for awb in awb_existing %}
                    <tr id="{{ awb.pk }}">
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ forloop.counter }}
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.order_id }}</td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.manifest.client }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.manifest.get_readable_choice }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.awb_status.get_readable_choice }}
                        </td>
                        <td style="border: 2px solid #000000;padding-left: 5px;padding-right:5px">{{ awb.pincode.branch_pincode.branch.branch_name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}